 /* estilos basicos*/
 
 body {
     font-family: 'Josefin Sans', sans-serif !important;
     background-color: #ffffff;
     color: #000;
     font-size: 14px !important;
 }
 /*estilos generales*/
 
 .custom-radio .custom-control-input:checked~.custom-control-label::before {
     background-color: #B40D15 !important;
 }
 
 ul {
     list-style-type: none;
 }
 
 .negrita {
     font-weight: 700;
 }
 
 .flex-parent {
     display: -ms-flex;
     display: -webkit-flex;
     display: flex;
 }
 
 .flex-child {
     display: -ms-flex;
     display: -webkit-flex;
     display: flex;
     justify-content: center;
     flex-direction: column;
 }
 
 .p0 {
     padding: 0 !important;
 }
 
 .spacer1 {
     display: block;
     width: 100%;
     height: 30px;
 }
 
 .Gris1 {
     background-color: #524e4e;
 }
 
 .Gris2 {
     color: #5d5d61;
 }
 
 .bgBlack {
     background-color: #000;
 }
 
 .bgGriss {
     background-color: #5e5e5e;
 }
 
 .Crema {
     background-color: #efe8e3;
 }
 
 .rojo {
     color: #B40D15;
 }
 
 .btn {
     border-radius: 6px !important;
 }
 
 .btn:hover,
 .btn:active {
     /* background-color: #000 !important; */
     background-color: #333333 !important;
     border: none !important;
 }
 
 .btnRojo {
     background-color: #B40D15 !important;
     border: none !important;
 }
 
 .btnRojo:hover {
     background-color: #333333 !important;
     /* background-color: #000000 !important; */
 }
 
 .btnGris {
     background-color: #676666 !important;
     border: none !important;
     text-align: left !important;
 }
 
 .btnGris:hover {
     background-color: #B40D15 !important;
 }
 
 .btnAbcdin {
     background-color: #FF1149 !important;
 }
 
 .form-control {
     font-size: 13px !important;
 }
 
 .modal-dialog .modal-footer {
     border-top: none;
 }
 /*navegacion central*/
 
 .navbar {
     background-color: #B40D15;
     padding: 0 !important;
 }
 
 .navigation {
     height: 70px;
     width: 100%;
 }
 
 .brand {
     float: left;
     padding-left: 20px;
 }
 
 .brand a,
 .brand a:visited {
     color: #ffffff;
     text-decoration: none;
 }
 
 .nav-container {
     margin: 0 auto;
 }
 
 nav {}
 
 nav ul {
     list-style: none;
     margin: 0;
     padding: 0;
 }
 
 nav ul li {
     float: left;
     position: relative;
 }
 
 nav ul li a,
 nav ul li a:visited {
     display: block;
     padding: 20px 20px;
     line-height: 19px;
     color: #ffffff;
     text-decoration: none;
     font-size: 12px;
     font-weight: 700;
     text-transform: uppercase;
     cursor: pointer;
 }
 
 nav ul li a:hover,
 nav ul li:hover,
 nav ul li a:visited:hover {
     background: #A50528;
     color: #ffffff;
     text-decoration: none;
 }
 
 nav ul li a:not(:only-child):after,
 nav ul li a:visited:not(:only-child):after {
     padding-left: 4px;
     content: ' ▾';
 }
 
 nav ul li ul li {
     min-width: 190px;
 }
 
 nav ul li ul li a {
     padding: 15px;
     line-height: 20px;
 }
 
 nav button.navbar-toggler {
     padding: 20px;
     font-size: 1.25rem;
     line-height: 1;
     background-color: #8C0321;
     border: none;
     border-radius: 0;
 }
 
 .navbar .collapse.show {
     background-color: #8C0321;
 }
 
 .navbar .collapse.show ul li {
     border-bottom: 1px solid #610000;
 }
 
 .navbar .fa-align-justify:before {
     color: white;
     font-size: 30px;
 }
 /* HEADER */
 
 .header {
     overflow: hidden;
 }
 
 .header-top {
     background-color: #999999;
     color: #fff !important;
     display: table;
     padding-top: 0;
     padding-bottom: 0;
     padding-right: 0 !important;
     padding-left: 0 !important;
 }
 
 .header-top a {
     color: #fff !important;
 }
 
 .headerMantencion {
     height: 30px;
 }
 
 .marca-top {
     max-width: 150px;
     width: 100%;
 }
 
 .marca-top.mantencion {
     max-width: 232px;
     width: 232px;
 }
 
 .info-servicio-top {
     text-transform: uppercase;
     font-size: 9px;
     display: inline-flex;
     padding: 5px;
     padding-left: 30px;
 }
 
 .info-servicio-top .info-fono {
     font-size: 16px;
     line-height: 17px;
 }
 
 .info-servicio-top p {
     margin: 0;
     padding: 0;
 }
 
 .link-tiendas-top {
     font-weight: 700;
     padding: 10px;
     display: inline-flex;
     margin: 0;
     padding-left: 0;
 }
 
 .link-tiendas-top li {
     font-size: 14px;
     float: right;
     margin-left: 30px;
 }
 
 .login-top {
     background-color: #7F7F7F;
 }
 
 .acceso {
     background-color: #5e5e5e;
     padding: 5px;
     min-height: 30px;
     padding-left: 25px;
 }
 
 .acceso span {
     float: left;
     padding-right: 30px;
 }
 
 .acceso span p {
     margin: 0;
     padding: 0;
     font-size: 10px;
     font-weight: 700;
     text-transform: uppercase;
 }
 
 .acceso span.etiqueta {
     position: absolute;
     font-size: 9px;
     color: #000000;
     z-index: 1000;
     font-weight: 700;
     top: 5px;
     left: 13px;
 }
 
 .acceso span a {}
 
 .acceso .input-group {
     margin-right: 10px;
     max-width: 120px;
 }
 
 .acceso .form-control {
     border-top-left-radius: 5px !important;
     border-bottom-left-radius: 5px !important;
     border-radius: 5px;
     padding-top: 15px;
     padding-bottom: 2px;
 }
 
 .acceso .input-group-append button {
     border-top-left-radius: 0px !important;
     border-bottom-left-radius: 0px !important;
 }
 
 .acceso .btnactivo {
     background-color: #B40D15 !important;
     color: white !important;
 }
 
 .acceso .btninactivo {
     background-color: #424242 !important;
     color: white !important;
 }
 
 .acceso .btninactivo i.far {
     color: #bbbbbb;
 }
 
 .bloqueo {
     font-size: 10px;
     text-transform: uppercase;
     padding: 13px;
     background-color: #7f7f7f;
     min-height: 35px;
     display: block;
     white-space: nowrap;
 }
 
 .bloqueo .fa-lock {
     color: #B40D15;
 }
 
 .navbar-brand {
     padding: 10px !important;
 }
 
 .barraSlide {
     background-color: #f5f5f5;
 }
 
 .barraSlideSola {
     background-color: #B40D15;
     min-height: 70px;
 }
 
 .barraSlide h1 {
     color: #B40D15;
     font-size: 24px;
     font-weight: 700;
     margin: 0;
     line-height: initial;
 }
 
 .barraSlide h1 a.formularioTarjeta,
 .barraSlide h1 a.app {
     font-size: 24px;
 }
 
 .barraSlide h1 a {
     color: #B40D15;
     font-size: 16px;
 }
 
 .barraSlide h2 {
     color: #5a5a5a;
     font-size: 16px;
     font-weight: 700;
     margin: 0;
 }
 
 .barraSlide .box {
     height: 100px;
     min-width: 50px;
     float: left;
     display: flex;
     align-items: center;
 }
 
 .barraSlide .box2 {
     height: 100px;
     display: table-cell;
     vertical-align: middle;
     /* padding-left: 20px;
     padding-right: 20px; */
 }

 .barraSlide .box3 {
     height: 100px;
     margin-top: 26px;
     vertical-align: middle;
     /* padding-left: 20px;
     padding-right: 20px; */
 }

 .barraSlide .box4 {
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    padding-left: 20px;
    padding-right: 20px;
 }
 
 .barraBeneficios {
     background-color: #B40D15;
     color: #ffffff;
     text-align: center;
 }
 
 .barraBeneficios h1 {
     font-size: 18px;
     margin: 0;
     padding: 20px;
 }
 
 .barraTitulos {
     background-color: #ffffff;
     text-align: center;
 }
 
 .barraTitulos h1 {
     font-size: 35px;
     margin: 0;
     padding: 35px;
     color: #5d5d61;
     font-weight: 700;
 }
 
 .barraTitulos h1 span {
     color: #B40D15 !important;
 }
 
 .barraTitulos h1 img {
     position: relative;
     top: -5px;
 }
 
 .contenidos {}
 
 .contenidoHome {
     padding-bottom: 20px;
 }
 
 .contenidoHome .filaBanner {
     padding-top: 20px;
     text-align: center;
 }
 
 .contenidoTarjeta {}
 
 .cajaBeneficio {
     display: block;
     text-align: center;
     padding: 10px;
     margin: 20px;
     min-height: 300px;
 }
 
 .cajaBeneficio:hover {
     text-decoration: none;
     color: #B40D15;
 }
 
 .cajaBeneficio h2 {
     color: #B40D15 !important;
     font-weight: 700;
     font-size: 26px;
     line-height: initial;
 }
 
 .cajaBeneficio h2:hover {
     text-decoration: none;
     color: #B40D15;
 }
 
 .cajaBeneficio img {
     min-height: 110px;
     display: block;
     margin: auto;
     margin-bottom: 20px;
     margin-top: 20px;
 }
 
 .cajaBeneficio p {
     color: #000000;
     font-size: 18px;
     line-height: initial;
 }
 
 .cajaBeneficio p:hover {
     text-decoration: underline;
 }
 
 .cajaBeneficio strong {
     text-decoration: underline;
 }
 
 .Banners {}
 
 .bannerAnchoCompleto {
     display: flex;
     width: 100%;
     align-items: center;
     justify-content: center;
 }
 
 .bgRosado {
     background-color: #E20D5D;
 }
 
 .bgGris {
     background-color: #e5e5e5;
 }
 
 .bgAzul {
     background-color: #44579d;
 }
 
 .boxSeguros .navTitular .row {
     background-color: #f5f5f5;
     padding-top: 5px;
     padding-bottom: 5px;
 }
 
 .boxSeguros .navTitular a {
     color: #444444;
     font-size: 14px;
 }
 
 .boxSeguros .navTitular a:hover {
     color: #B40D15;
     text-decoration: none;
 }
 
 .boxSeguros .descargaCertificado {
     float: left;
     font-size: 12px;
     width: 150px;
     margin-left: 15px;
     position: relative;
     top: 20px;
 }
 
 .boxSeguros .descargaCertificado img {
     float: left;
 }
 
 .boxSeguros .descargaCertificado a {
     margin-left: 0px;
     display: block;
     float: left;
     width: 100px;
     padding-top: 5px;
     font-size: 12px;
     line-height: initial;
     padding-left: 0;
 }
 
 .contenidoSeguros .infoBox,
 .contenidoGarantia .infoBox {
     padding: 10%;
 }
 
 .contenidoSeguros .infoBox h1 {
     font-size: 32px;
     font-weight: 700;
     color: #5d5d61;
 }
 
 .contenidoGarantia .infoBox {
     justify-content: center;
     flex-direction: column;
     width: 100%;
 }
 
 .contenidoGarantia .infoBox h1 {
     font-size: 24px;
     font-weight: 700;
     color: #5d5d61;
 }
 
 .contenidoSeguros h2,
 .contenidoGarantia h2 {
     font-size: 22px;
     font-weight: 500;
 }
 
 .contenidoSeguros .infoBox p,
 .contenidoGarantia .infoBox p {
     font-size: 20px;
     font-weight: 500;
     color: #a7a5a5;
     line-height: 22px;
 }
 
 .contenidoSeguros .btn-info,
 .contenidoGarantia .btn-info {
     color: #B40D15;
     background-color: #FFFFFF;
     border-color: #FFFFFF;
 }
 
 .contenidoSeguros .btn-info:hover,
 .contenidoGarantia .btn-info:hover {
     color: #FFFFFF;
     background-color: #B40D15;
     border-color: #B40D15;
 }
 
 .contenidoSeguros .cajaServiciosAdicionales,
 .contenidoGarantia .cajaServiciosAdicionales {
     padding: 30px;
 }
 
 .contenidoSeguros .infoSolicitaSeguro {
     background-image: url(../img/bg_solicita_seguro.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .contenidoGarantia .infoCallCenter {
     background-image: url(../img/bg_callcenter.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .contenidoSeguros .btn_solicitalo {
     background-color: #B40D15;
     color: #fff;
     padding: 5px;
     padding-left: 20px;
     border-radius: 6px;
     padding-right: 20px;
     margin-top: 10px;
     display: table;
     font-size: 16px;
 }
 
 .contenidoGarantia .btn_solicitalo {
     background-color: #B40D15;
     color: #fff;
     padding: 5px;
     padding-left: 15px;
     border-radius: 6px;
     padding-right: 30px;
     margin-top: 0px;
     display: table;
     font-size: 24px;
 }
 
 .boxInfoSeguro {
     display: block;
     padding: 30px;
     text-align: center;
     width: 200px;
     border: 1px solid #B40D15;
     border-radius: 10px;
     background-color: #F9F9F9;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 20px;
     margin-top: 20px;
     padding-left: 10px;
     padding-right: 10px;
 }
 
 .boxInfoSeguro a:hover {
     text-decoration: none;
 }
 
 .boxInfoSeguro p {
     text-transform: uppercase;
     color: black;
     margin-top: 20px;
     padding: 0;
     margin-bottom: 0;
     min-height: 43px;
 }
 
 .boxInfoSeguro p:hover {
     color: #B7072F;
 }
 
 .contenidoFormulario1 h2 {
     font-size: 18px;
     color: #696969;
     font-weight: 700;
 }
 
 .contenidoFormulario1 .progress,
 .boxInfoMovimientos .progress {
     height: 2px;
     background-color: #b0b0b0;
     border-radius: none;
     margin-bottom: 50px;
 }
 
 .boxInfoMovimientos .progress-bar {
     background-color: #B40D15;
     width: 210px;
 }
 
 .progress-bar.vencimientos {
     width: 270px;
 }
 
 .progress-bar.misOfertas {
     width: 420px;
 }
 
 .progress-bar.simula {
     width: 175px !important;
 }
 
 .contenidoFormulario1 label {
     color: #333333;
     font-size: 8px;
     font-weight: 700;
     position: absolute;
     top: 10px;
     left: 25px;
     text-transform: uppercase;
     z-index: 1;
 }
 
 .contenidoFormulario1 label.contactoCredito {
     top: 7px;
     left: 18px;
 }
 
 .contenidoFormulario1 label.extra {
     top: 7px !important;
     line-height: 8px !important;
 }
 
 .contenidoFormulario1 input,
 .contenidoFormulario1 select,
 .contenidoFormulario1 textarea {
     background-color: #f4f4f4;
     border: 1px solid #e4e4e4;
     padding-top: 20px;
     padding-left: 25px;
     box-shadow: none !important;
 }
 
 .contenidoFormulario1 .form-group {
     position: relative;
 }
 
 .contenidoFormulario1 .custom-select {
     height: auto !important;
 }
 
 .contenidoFormulario1 .obligatorio {
     color: #B40D15;
     font-size: 24px;
     position: absolute;
     top: 15px;
     left: 10px;
 }
 
 .formularioSeguros p span.obligatorio {
     color: #B40D15;
     font-size: 24px;
     position: initial;
 }
 
 .boxActualizaDatos .form-group {
     margin-bottom: 5px;
 }
 
 .boxActualizaDatos h3.tituDatos {
     font-size: 14px;
     color: #333333;
     font-weight: 700;
 }
 
 .boxActualizaDatos h3.tituDatos.inactivo {
     color: #d0d0d0;
 }
 
 .boxActualizaDatos .w1 {
     width: 48%;
 }
 
 .boxActualizaDatos .selectCorreo {
     display: table;
     background-color: #f4f4f4;
     padding-top: 50px;
     padding-bottom: 50px;
     padding-left: 30px;
     padding-right: 30px;
     border-radius: 10px;
     width: 100%;
 }
 
 .boxActualizaDatos .selectCorreo.bgBlanco {
     background-color: #ffffff;
 }
 
 .boxActualizaDatos .selectCorreo h3 {
     font-size: 14px;
     color: #333333;
     font-weight: 700;
     text-align: center;
     margin-bottom: 20px;
 }
 
 .boxActualizaDatos .selectCorreo p {
     font-size: 14px;
     font-weight: 300;
     color: #767676;
     margin-bottom: 10px;
 }
 
 .boxActualizaDatos .selectCorreo img {
     margin-right: 10px;
 }
 
 .boxActualizaDatos .selectCorreo .custom-radio {
     padding-left: 0px;
 }
 
 .boxActualizaDatos .selectCorreo label {
     position: relative;
     top: 0px;
     left: 0;
     text-indent: 20px;
 }
 
 .boxActualizaDatos .selectCorreo .custom-control-label:before {
     top: -3px;
 }
 
 .boxActualizaDatos .selectCorreo .custom-control-label:after {
     top: -3px;
 }
 
 .boxActualizaDatos .selectCorreo .custom-control-label::before {
     background-color: #BDBEBF;
 }
 
 .contenidoApp {}
 
 .contenidoApp .tab-pane {
     padding-top: 50px;
     padding-bottom: 50px;
 }
 
 .contenidoApp div.board-inner {
     background-color: #ffffff;
 }
 
 .contenidoApp span.round-tabs {
     line-height: 16px;
     font-size: 16px;
     max-width: 100px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .contenidoApp .tab-content {
     background-color: #e9e7e7;
     overflow: hidden;
 }
 
 .contenidoApp .info-app {
     position: relative;
 }
 
 .contenidoApp .info-app img {
     float: none;
     margin-right: auto;
     margin-left: auto;
     display: block;
 }
 
 .contenidoApp .info-app .nueva {
     position: absolute;
     top: 300px;
     left: 135px;
 }
 
 .contenidoApp .info-app h1 {
     font-size: 30px;
     font-weight: 700;
     color: #B40D15;
     margin-bottom: 15px;
     margin-top: 15px;
     max-width: 500px;
 }
 
 .contenidoApp .info-app h4 {
     font-size: 16px;
     color: #000000;
     font-weight: 700;
     padding-top: 15px;
 }
 
 .contenidoApp .info-app p {
     font-size: 22px;
     font-weight: 300;
     color: #121212;
     line-height: 30px;
     margin-top: 20px;
     max-width: 500px;
 }
 
 .btn-app {
     padding-top: 5px;
     padding-bottom: 5px;
     display: block;
     background-color: #B40D15;
     padding-left: 60px;
     padding-right: 60px;
     margin-right: 30px;
     border-radius: 30px;
 }
 
 .contenidoPagarCuenta {
     background-color: #f3f3f3;
     padding-bottom: 50px;
 }
 
 .contenidoPagarCuenta .formulario {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 10px;
 }
 
 .contenidoPagarCuenta h1 {
     font-size: 26px;
     font-weight: 700;
     color: #333333;
 }
 
 .contenidoPagarCuenta h2 {
     font-size: 16px;
     color: #333333;
     font-weight: 700;
 }
 
 .contenidoPagarCuenta .progress {
     background-color: #e7e7e7;
     height: 3px;
     border: none;
     border-radius: 0px;
 }
 
 .contenidoPagarCuenta .progress-bar {
     background-color: #B40D15;
 }
 
 .contenidoPagarCuenta .progress-bar.paso1 {
     width: 120px;
 }
 
 .contenidoPagarCuenta .progress-bar.paso3 {
     width: 220px;
 }
 
 .contenidoPagarCuenta .acceso {
     background-color: #ffffff;
 }
 
 .contenidoPagarCuenta .acceso h1 {
     color: #B40D15;
     font-size: 20px;
     font-weight: 700;
     line-height: 11px;
     margin-top: 10px;
 }
 
 .contenidoPagarCuenta .acceso h2 {
     color: #5e5e5e;
     font-size: 16px;
     font-weight: 700;
 }
 
 .contenidoPagarCuenta .acceso img {
     float: left;
     margin-right: 15px;
     min-height: 50px;
 }
 
 .contenidoPagarCuenta .legal {
     font-size: 14px;
     font-weight: 700;
     color: #646464;
     text-align: center;
 }
 
 .contenidoPagarCuenta .acceso a {
     background-color: #B40D15;
     color: white;
     padding-left: 10px;
     padding-right: 10px;
     border-radius: 12px;
 }
 
 .contenidoPagarCuenta input {
     background-color: #f4f4f4;
     border: 1px solid #e4e4e4;
 }
 
 .contenidoPagarCuenta .form-group {
     position: relative;
 }
 
 .contenidoPagarCuenta .form-group label {
     color: #333333;
     font-size: 12px;
     font-weight: 700;
     position: absolute;
     top: 10px;
     left: 15px;
     text-transform: uppercase;
 }
 
 .contenidoPagarCuenta .form-group input,
 .contenidoPagarCuenta .form-group select {
     padding-top: 25px;
     font-size: 15px !important;
 }
 
 .contenidoPagarCuenta .form-group select {
     height: auto !important;
     background-color: #f4f4f4;
 }
 
 .contenidoPagarCuenta .boxRadio {
     padding: 13px;
     background-color: #F4F4F4;
     border: 1px solid #CED4DA;
     margin-bottom: 10px;
     margin-top: 10px;
     border-radius: 5px;
 }
 
 .contenidoPagarCuenta .boxRadio span {
     font-size: 19px;
     font-weight: 300;
     right: 0px;
     position: absolute;
 }
 
 .contenidoPagarCuenta .custom-control-label {
     width: 100%;
 }
 
 .contenidoPagarCuenta .boxRadio .custom-control-label::before {
     border: 1px solid #B40D15;
 }
 
 .contenidoPagarCuenta .otroMonto {
     border: none;
     width: 80px;
     font-weight: 300;
 }
 
 .contenidoPagarCuenta .fa-asterisk:before {
     color: #B40D15;
     font-size: 11px;
 }
 
 .contenidoPagarCuenta .infoAsterisco {
     white-space: nowrap;
 }
 
 .Banner-pago {
     background-color: #F3F3F3;
 }
 
 .Bg-banner-pago {
     background-image: url(../img/banners/bg-banner-pagos-externos.jpg);
     background-size: cover;
     background-repeat: no-repeat;
 }
 
 .Banner-pago h3 {
     font-size: 40px;
     text-align: center;
     font-weight: 300;
     color: #B40D15;
     margin-bottom: 30px;
 }
 
 .Banner-pago li {
     float: left;
 }
 
 .Banner-pago li a {
     padding: 10px;
     background-color: white;
     margin-right: 15px;
     margin-bottom: 15px;
     border-radius: 5px;
     display: block;
 }
 
 .Banner-pago .container {
     padding: 50px;
     padding-top: 70px;
     padding-bottom: 70px;
 }
 
 .preguntasFrec .board-inner {
     background-color: #333333;
 }
 
 .preguntasFrec h1 {
     font-size: 30px;
     font-weight: 700;
     color: #cdcdcd;
     white-space: nowrap;
     min-width: 419px;
     display: block;
     padding-top: 35px;
 }
 
 .preguntasFrec li:first-child {
     width: auto !important;
 }
 
 .preguntasFrec h1 span {
     color: #B40D15 !important;
 }
 
 .preguntasFrec .nav-tabs>li a.show span {
     color: white;
 }
 
 .preguntasFrec .nav-tabs>li a:hover span {
     color: #ffffff;
 }
 
 .preguntasFrec .tab-pane {
     padding-top: 1px;
     padding-bottom: 1px;
 }
 
 .olvidoClave {
     position: fixed;
     z-index: 99999;
     background-color: #fff;
     padding: 20px;
     padding-left: 60px;
     padding-right: 60px;
     border-bottom-left-radius: 10px;
     margin-left: -15px;
     right: 0px;
     width: 33%;
 }
 
 .olvidoClave h1 {
     color: #545454;
     font-weight: 700;
     font-size: 18px;
     text-align: center;
 }
 
 
 .olvidoClave p{
     color: #777777;
     font-size: 16px;
     text-align: center;
     line-height: initial;
 }
 
 .olvidoClave a {
     color: #B40D15 !important;
     font-size: 16px;
     text-align: center;
     text-decoration: none;
     font-weight: 700;
     width: 100%;
     display: block;
 }
 
 .olvidoClave a:hover {
     text-decoration: underline;
 }
 
 .olvidoClave input {
     background-color: #ebebeb;
 }
 
 .olvidoClave button {}
 
 .olvidoClave .hidden {
     display: none;
 }
 
 .olvidoClave.hidden {
     display: none;
 }
 
 .hide {
     display: none;
 }
 
 .popover .popover-body {}
 
 .popover .popover-body h1 {
     font-size: 14px;
     font-weight: 700;
     color: #B40D15;
     padding-top: 5px;
 }
 
 .popover .popover-body .list-group-item {
     border: none;
     padding: 3px;
 }
 
 .logeado {
     padding-top: 15px;
 }
 
 .logeado a.cerrar {
     font-size: 10px;
     text-transform: uppercase;
     font-weight: 700;
     position: relative;
     top: -5px;
 }
 
 .barraSaludo {
     background-color: #B40D15;
 }
 
 .barraSaludo h1 {
     font-size: 22px;
     font-weight: 700;
     color: #ffffff;
     padding-top: 10px;
     padding-bottom: 10px;
     margin: 0;
 }
 
 .contenidosLogeado {
     background-color: #f3f3f3;
     padding-top: 30px;
     padding-bottom: 30px;
 }
 
 .contenidosLogeado h1 {
     font-size: 24px;
     font-weight: 700;
     color: #333333;
     margin-bottom: 20px;
 }
 
 .boxInfoMovimientos {
     background-color: #fff;
     padding: 40px;
     border-radius: 15px;
 }
 
 .boxInfoMovimientos h2 {
     font-size: 20px;
     font-weight: 700;
     color: #B40D15;
 }
 
 .boxInfoVencimientos {
     background-color: #fff;
     padding: 40px;
     border-radius: 15px;
 }
 
 .boxInfoVencimientos h2 {
     font-size: 20px;
     font-weight: 700;
     color: #B40D15;
 }
 
 .boxInfoMovimientos table {}
 
 .boxInfoMovimientos td {}
 
 .tablaDeuda {
     background-color: #f4f4f4;
     padding: 30px;
     padding-top: 10px;
     border-radius: 10px;
     padding-bottom: 10px;
 }
 
 .tablaDeuda td {}
 
 .tablaDeuda .infoleft {
     font-size: 18px;
     font-weight: 700;
     color: #666666;
     text-align: left;
     padding-left: 0;
     line-height: 45px;
 }
 
 .tablaDeuda .inforight {
     text-align: right;
     font-size: 17px;
     font-weight: 700;
     color: #333333;
     padding-right: 0;
 }
 
 .tablaDeuda .inforight span {
     background-color: #fff;
     padding: 9px;
     border-radius: 10px;
     width: 140px;
     height: 40px;
     display: block;
     margin: 0;
     margin-right: 0px;
     float: right;
     text-align: center;
 }
 
 .tablaDeuda .inforight span.first {
     font-size: 20px;
     font-weight: 300;
 }
 
 .tablaDeuda .btn {
     background-color: #B40D15;
     float: right;
     font-size: 18px;
     font-weight: 700;
     padding-left: 40px;
     padding-right: 40px;
     border: none;
     border-radius: 7px;
 }
 
 .boxTablaMovimientos {}
 
 .boxTablaMovimientos h2,
 .infoSimulaAvances h2 {
     font-size: 15px;
     color: #333333;
     width: 100%;
     clear: both;
 }
 
 .boxTablaMovimientos .points_table.noFacturado .noFacturados {
     position: absolute;
     width: 100%;
     text-align: center;
     font-size: 25px;
     font-weight: 300;
     background-color: white;
     padding-top: 40px;
     padding-bottom: 40px;
 }
 
 .boxTablaMovimientos .points_table {
     width: 100%;
 }
 
 .boxTablaMovimientos .points_table th {
     font-size: 10px;
     font-weight: 400;
     color: #727171;
     height: 25px;
     line-height: inherit;
 }
 
 .points_table_scrollbar {
     font-size: 14px;
     color: #333333;
 }
 
 .points_table_scrollbar tr {
     border-bottom: 2px solid #ededed;
 }
 
 .points_table_scrollbar h4 {
     font-size: 12px;
     margin-bottom: 0;
     padding: 0;
     line-height: 0;
     padding-bottom: 10px;
 }
 
 .points_table_scrollbar span {
     font-size: 10px;
     color: #B40D15;
     line-height: 0px;
 }
 
 .boxTablaMovimientos .w1 {
     width: 55%;
 }
 
 .boxTablaMovimientos .w2 {
     width: 15%;
 }
 
 .boxTablaMovimientos .w3 {
     width: 10%;
 }
 
 .boxTablaMovimientos .w4 {
     width: 18%;
 }
 
 .boxTablaMovimientos .progress,
 .infoSimulaAvances .progress {
     height: 2px;
     background-color: #b0b0b0;
     border-radius: none;
     margin-bottom: 10px;
     width: 100%;
 }
 
 .boxTablaMovimientos .progress-bar,
 .infoSimulaAvances .progress-bar {
     background-color: #B40D15;
     width: 100px;
 }
 
 .points_table thead {
     width: 100%;
 }
 
 .points_table th.text-center,
 .points_table th.text-right {
     border-bottom: 1px dashed #969595;
 }
 
 .points_table tbody {
     height: 260px;
     overflow-y: auto;
     width: 100%;
 }
 
 .points_table thead tr {
     width: 99%;
 }
 
 .points_table tr {
     width: 100%;
 }
 
 .points_table thead,
 .points_table tbody,
 .points_table tr,
 .points_table td,
 .points_table th {
     display: inline-block;
 }
 
 .points_table thead {
     background: #fff;
     color: #fff;
 }
 
 .points_table tbody td,
 .points_table thead>tr>th {
     float: left;
     border-bottom-width: 0;
 }
 
 .points_table>tbody>tr>td,
 .points_table>tbody>tr>th,
 .points_table>tfoot>tr>td,
 .points_table>tfoot>tr>th,
 .points_table>thead>tr>td,
 .points_table>thead>tr>th {
     text-align: center;
     line-height: 32px;
     padding-top: 5px;
     padding-bottom: 5px;
 }
 
 .points_table_scrollbar {
     height: 612px;
     overflow-y: scroll;
 }
 
 .points_table_scrollbar::-webkit-scrollbar-track {
     border-radius: 10px;
     background-color: #d8d8d8;
 }
 
 .points_table_scrollbar::-webkit-scrollbar {
     width: 1%;
     min-width: 8px;
     background-color: #d8d8d8;
 }
 
 .points_table_scrollbar::-webkit-scrollbar-thumb {
     border-radius: 10px;
     background-color: #f3f3f3;
 }
 
 .barraTitular {}
 
 .barraTitular .bggris1 {
     background-color: #333333;
     padding-top: 30px;
     padding-bottom: 15px;
 }
 
 .bggris1:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: transparent;
     border-right: 32px solid rgb(67, 67, 67);
     -webkit-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     -webkit-transform: skewX(-7deg);
     -ms-transform: skewX(-7deg);
     transform: skewX(-7deg);
 }
 
 .barraTitular .bggris1 img {
     margin-right: 20px;
 }
 
 .barraTitular .bggris2 {
     background-color: #434343;
     padding-left: 50px;
     padding-right: 70px;
     padding-top: 35px;
     padding-bottom: 15px;
 }
 
 .bggris2:before {
     content: '';
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: transparent;
     border-right: 32px solid rgb(77, 77, 77);
     -webkit-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     -webkit-transform: skewX(-7deg);
     -ms-transform: skewX(-7deg);
     transform: skewX(-7deg);
 }
 
 .barraTitular .bggris3 {
     background-color: #4d4d4d;
 }
 
 .barraTitular input[type="range"] {
     width: 30%;
     margin-bottom: 5px;
 }
 
 .barraTitular .boxtitular {}
 
 .barraTitular .boxtitular h4 {
     font-size: 10px;
     font-weight: 700;
     color: #b5b5b5;
     margin-bottom: 0;
 }
 
 .barraTitular .boxtitular h3 {
     font-size: 20px;
     font-weight: 400;
     color: #f7f7f7;
 }
 
 .barraTitular .boxtitular p {
     font-size: 16px;
     font-weight: 400;
     color: #f7f7f7;
 }
 
 .bggris1 ul {
     margin-left: 0;
     padding-left: 0;
     margin-top: 40px;
     z-index: 1000;
     position: relative;
 }
 
 .bggris1 ul li {
     margin-right: 40px;
     float: left;
 }
 
 .bggris1 ul li a {
     font-size: 13px;
     font-weight: 400;
     color: #e4e4e4;
     text-decoration: underline;
 }
 
 .bggris1 ul li a:hover {
     text-decoration: none;
 }
 
 .bggris1 ul li i.fas {
     color: #B40D15;
     margin-right: 5px;
 }
 
 .barraTitular .boxCupo {
     z-index: 1000;
     position: relative;
 }
 
 .diagnalBar1:after,
 .diagnalBar2:after {
     content: '';
     position: absolute;
     top: 75px;
     height: 30%;
     background-color: transparent;
     border-right: 2px solid rgb(88, 88, 88);
     -webkit-transform-origin: 100% 100%;
     -ms-transform-origin: 100% 100%;
     transform-origin: 100% 100%;
     -webkit-transform: skewX(-7deg);
     -ms-transform: skewX(-7deg);
     transform: skewX(-7deg);
 }
 
 .diagnalBar1:after {
     left: 0;
     width: 28%;
 }
 
 .diagnalBar2:after {
     left: 0;
     width: 62%;
 }
 
 .barraTitular .boxCupo h1 {
     font-size: 20px;
     color: #fff;
     margin-bottom: 5px;
 }
 
 .barraTitular .boxCupo h2 {
     font-size: 14px;
     color: #c8c8c8;
     margin-bottom: 0;
 }
 
 .barraTitular .boxCupo h3 {
     font-size: 18px;
     color: #fff;
     margin-bottom: 0;
 }
 
 .barraTitular .boxCupo .progress {
     background-color: #1b1b1b;
     border-radius: 10px;
 }
 
 .barraTitular .boxCupo .progress-bar {
     background-color: #d1cfcf;
     border-radius: 10px;
 }
 
 .barraTitular .boxCupo p {
     font-size: 13px;
     color: #c8c8c8;
     margin-bottom: 0;
     line-height: initial;
     min-height: 30px;
 }
 
 .barraTitular .boxCupo .box {
     margin-top: 10px;
     width: 33%;
 }
 
 .barraTitular .boxCupo .btn-extracupo {
     background-color: #B40D15;
     font-size: 12px;
     border: none;
     margin-top: 6px;
 }
 
 .barraTitular .boxBloqueo {
     text-align: center;
     max-width: 120px;
     padding-top: 35px;
     padding-bottom: 20px;
 }
 
 .barraTitular .boxBloqueo i.fas {
     color: #B40D15;
     font-size: 25px;
     margin-bottom: 5px;
 }
 
 .barraTitular .boxBloqueo h2 {
     font-size: 16px;
     font-weight: 700;
     color: #fff;
     text-align: center;
 }
 
 .barraTitular .boxBloqueo input {}
 
 .barraTitular .boxBloqueo p {
     font-size: 11px;
     font-weight: 700;
     color: #939393;
 }
 
 .barraTitular .boxBloqueo .custom-control {
     padding-left: 0;
 }
 
 .custom-checkbox {
     min-height: 1rem;
     padding-left: 0;
     margin-right: 0;
     cursor: pointer;
 }
 
 .custom-checkbox .custom-control-indicator {
     content: "";
     display: inline-block;
     position: relative;
     width: 30px;
     height: 10px;
     background-color: #818181;
     border-radius: 15px;
     margin-right: 10px;
     -webkit-transition: background .3s ease;
     transition: background .3s ease;
     vertical-align: middle;
     margin: 0 16px;
     box-shadow: none;
 }
 
 .custom-checkbox .custom-control-indicator:after {
     content: "";
     position: absolute;
     display: inline-block;
     width: 18px;
     height: 18px;
     background-color: #f1f1f1;
     border-radius: 21px;
     box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4);
     left: -2px;
     top: -4px;
     -webkit-transition: left .3s ease, background .3s ease, box-shadow .1s ease;
     transition: left .3s ease, background .3s ease, box-shadow .1s ease;
 }
 
 .custom-checkbox .custom-control-input:checked~.custom-control-indicator {
     background-color: #818181;
     background-image: none;
     box-shadow: none !important;
 }
 
 .custom-checkbox .custom-control-input:checked~.custom-control-indicator:after {
     background-color: #B40D15;
     left: 15px;
 }
 
 .custom-checkbox .custom-control-input:focus~.custom-control-indicator {
     box-shadow: none !important;
 }
 
 .navTitular {
     background-color: white;
 }
 
 .navTitular ul {
     margin: 3px;
 }
 
 .navTitular ul li {
     float: left;
     margin-left: 10px;
     margin-right: 10px;
     min-width: 220px;
 }
 
 .navTitular ul li a {
     padding: 10px 0;
     display: block;
     font-size: 14px;
     font-weight: 700;
     color: #636161;
 }
 
 .navTitular ul li a.activo {
     color: #B40D15;
     padding-top: 10px;
     padding-bottom: 10px;
     line-height: 34px;
 }
 
 .navTitular ul li a.activo img {
     display: block;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
     float: left;
 }
 
 .navTitular ul li a.activo.movimientos img {
     background: url(../img/icono-movimientos2.png) no-repeat;
     width: 36px;
     height: 34px;
     padding-left: 36px;
 }
 
 .navTitular ul li a.activo.estado img {
     background: url(../img/icono-estado2.png) no-repeat;
     width: 28px;
     height: 34px;
     padding-left: 28px;
 }
 
 .navTitular ul li a.activo.vencimientos img {
     background: url(../img/icono-proximos2.png) no-repeat;
     width: 36px;
     height: 34px;
     padding-left: 36px;
 }
 
 .navTitular ul li a.activo.avance img {
     background: url(../img/icono-avance2.png) no-repeat;
     width: 36px;
     height: 34px;
     padding-left: 36px;
 }
 
 .navTitular ul li a.activo.ofertas img {
     background: url(../img/icono-misofertas2.png) no-repeat;
     width: 36px;
     height: 34px;
     padding-left: 36px;
 }
 
 .navTitular ul li a:hover,
 .navTitular ul li a:active {
     color: #B40D15;
     text-decoration: none;
 }
 
 .navTitular ul img {
     margin-right: 10px;
 }
 
 #ModalTarjetaOk .contenidoModal,
 #ModalTarjetaOk .modal-body {
     padding-top: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     padding-bottom: 0px !important;
 }
 
 #ModalBeneficios .contenidoModal,
 #ModalBeneficios .modal-body {
     padding-top: 0px !important;
     padding-left: 0px !important;
     padding-right: 0px !important;
     padding-bottom: 0px !important;
 }
 
 #ModalTarjetaOk .modal-header .close,
 #ModalBeneficios .modal-header .close {
     position: absolute;
     z-index: 10000;
     color: white;
     opacity: 1;
 }
 
 .contenidoModal {
     padding-top: 0px !important;
     padding-left: 50px !important;
     padding-right: 50px !important;
     padding-bottom: 50px !important;
 }
 
 .contenidoModal h3 {
     line-height: 1.2em;
     font-size: 24px;
     font-weight: 700;
     text-align: center;
 }
 
 .contenidoModal h4 {
     font-size: 18px;
     font-weight: 700;
     color: #B40D15;
 }
 
 .contenidoModal h4.linea {
     border-top: 1px solid #D0D0D0;
     margin-top: 15px;
     padding-top: 10px;
 }
 
 .contenidoModal p {
     font-size: 30px;
     font-weight: 300;
     color: #414141;
 }
 
 .contenidoModal table {
     color: #434343;
 }
 
 .contenidoModal table th {
     width: 25%;
     font-size: 14px;
     border-bottom: 0px !important;
     border-top: 0px !important;
     padding: 0px;
 }
 
.contenidoModal .datospersona{
    padding: 12px ;
    border-radius: 10px;
    border: 1px solid #ced4da;
}
.contenidoModal .datospersona table tbody tr td{
	font-size:12px !important;
} 
 .contenidoModal table td {
     font-size: 18px;
     border-top: 0px !important;
     padding: 0px;
 }
 
 .infomodalserviCliente {
     text-align: center;
 }
 .infomodalserviClientes {
     text-align: center;
 }
 
 .infomodalserviCliente h2 {
     font-size: 28px;
     color: #444444;
     font-weight: 700;
     margin-top: 20px;
     margin-bottom: 30px !important;
 }
 .infomodalserviClientes h2 {
    font-size: 28px;
    color: #444444;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 10px !important;
}
 .infomodalserviCliente h4 {
     font-size: 26px;
     color: #B40D15;
     font-weight: 700;
 }
 .infomodalserviClientes h4 {
     font-size: 26px;
     color: #B40D15;
     font-weight: 700;
 }
 
 .infomodalserviCliente p {
     font-size: 20px;
     color: #5b5b5f;
     font-weight: 400;
     line-height: initial;
 }
 .infomodalserviClientes p {
     font-size: 20px;
     color: #5b5b5f;
     font-weight: 400;
     line-height: initial;
 }
 .enlace{
    font-weight: bold;
 }
 .infomodalserviCliente .fono {
     font-size: 37px;
     color: #979797;
     font-weight: 400;
 }
 .infomodalserviClientes .fono {
     font-size: 37px;
     color: #979797;
     font-weight: 400;
 }
 
 .infomodalserviCliente .form-control {
     padding-top: 15px;
     padding-bottom: 15px;
 }
 .infomodalserviClientes .form-control {
     padding-top: 15px;
     padding-bottom: 15px;
 }
 
 .modal-content h2.mensajeExito {
     font-size: 20px;
     color: #333333;
 }
 
 #ModalRequisitos ul li {
     line-height: initial;
     margin-bottom: 10px;
     list-style-type: square;
 }
 
 body div.pagoExitoso {
     text-align: center;
     padding-left: 5px !important;
     padding-right: 5px !important;
 }
 
 .pagoExitoso p {
    font-size: 18px;
    font-weight: 400;
    padding: 0px 30px 0px 30px;
     
 }
 
 .pagoExitoso form {
     width: 70%;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-top: 0 !important;
 }
 
 .pagoNoExitoso {
     text-align: center;
 }
 
 div.pagoNoExitoso p {
     font-size: 18px;
     font-weight: 400;
 }
 
 .pagoNoExitoso .contenidoModal {
     padding-top: 20px !important;
 }
 
 .pagoNoExitoso .contenidoModal .btn {
     width: 50%;
     text-transform: uppercase;
 }
 
 .modalComprobantePago {}
 
 .modalComprobantePago h3 {
     text-align: center;
     color: #2d2a55;
     font-size: 24px;
     font-weight: 400;
     margin-top: 40px;
     margin-bottom: 30px;
 }
 
 .modalComprobantePago p {
     font-size: 22px;
     color: #515151;
     font-weight: 400;
     line-height: initial;
     border-bottom: 1px solid #e40613;
     padding-bottom: 20px;
     margin-bottom: 20px;
 }
 
 .modalComprobantePago img {
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .modalComprobantePago div.contenidoModal {
     border: 1px solid #ccc;
     margin-left: 25px;
     margin-right: 25px;
     padding-left: 60px !important;
     padding-right: 60px !important;
     padding-top: 30px !important;
     padding-bottom: 30px;
     margin-bottom: 25px;
 }
 
 .modalComprobantePago p.mensajeFooter {
     font-size: 18px;
     border: none;
     margin: 0;
 }
 
 .modalComprobantePago .btnAccion {
     float: left;
     margin: 22px;
     margin-right: 0px;
 }
 
 .EstadoCuentaPrivado {}
 
 .EstadoCuentaPrivado .boxInfoMovimientos h2 {
     font-size: 18px;
     font-weight: 700;
     color: #333333;
 }
 
 .EstadoCuentaPrivado .boxInfoMovimientos .progress {
     margin-bottom: 20px;
 }
 
 .EstadoCuentaPrivado .boxActualizaDatos .selectCorreo {
     padding-top: 15px;
     padding-bottom: 15px;
     margin-top: 45px;
 }
 
 .EstadoCuentaPrivado .boxActualizaDatos .selectCorreo .btnAccion {
     border: 1px solid #CAC8C8;
     padding: 14px;
     padding-left: 20px;
     padding-right: 30px;
     border-radius: 5px;
     margin-right: 10px;
     color: #333333;
 }
 
 .EstadoCuentaPrivado .boxActualizaDatos .selectCorreo p {
     font-size: 14px;
     font-weight: 700;
     color: #333333;
 }
 
 .EstadoCuentaPrivado .contenidoFormulario1 select {
     padding-top: 15px;
     padding-bottom: 15px;
 }
 
 .detalleCuenta .btnAccion {
     float: right;
     margin-left: 20px;
     margin-bottom: 20px;
 }
 
 .detalleCuenta {
     background-color: #f3f3f3;
 }
 
 .detalleCuenta .paginacion {
     margin-top: 20px;
     margin-bottom: 50px;
     display: table;
     width: 100%;
 }
 
 .detalleCuenta .paginacion ul {
     margin: 0;
 }
 
 .detalleCuenta .paginacion ul li {
     float: left;
     margin-left: 10px;
 }
 
 .detalleCuenta .paginacion ul li a {
     display: block;
     font-size: 10px;
     color: #a5a5a5;
 }
 
 .detalleCuenta .paginacion ul li:last-child a {
     color: #B40D15;
 }
 
 .detalleCuenta .paginacion ul li:first-child {
     border-right: 1px solid #333;
     padding-right: 10px;
 }
 
 .infoVencimientos {
     text-align: center;
 }
 
 .infoVencimientos .box {
     background-color: #F3F3F3;
     padding-top: 40px;
     padding-bottom: 40px;
     border-radius: 10px;
     margin-bottom: 20px;
 }
 
 .infoVencimientos h3 {
     font-size: 17px;
     font-weight: 700;
     color: #333333;
 }
 
 .infoVencimientos p {
     font-size: 30px;
     font-weight: 300;
     color: #333333;
 }
 
 .infoVencimientos p.legal {
     font-size: 9px;
     font-weight: 400;
     color: #939393;
     text-align: justify;
     padding-left: 15px;
     margin: 0;
     padding-right: 15px;
     line-height: initial;
 }
 
 .infoVencimientos span {
     background-color: #ffffff;
     padding: 8px;
     border-radius: 5px;
 }
 
 .infoMisOfertas .bannerTop {
     margin: 5px;
     border-radius: 5px;
     display: block;
     overflow: hidden;
 }
 
 .infoMisOfertas .boxBanner {
     margin: 0;
     padding: 4px;
 }
 
 .infoSimulaAvances .simula {
     padding-top: 20px;
     padding-bottom: 20px;
     font-weight: 800;
 }
 
 .infoSimulaAvances .info_legal {
     font-size: 10px;
     color: #A5A5A5;
     line-height: initial;
     margin-top: 10px;
 }
 
 .infoSimulaAvances .custom-select {
     padding-top: 13px;
     padding-bottom: 13px;
 }
 
 .infoSimulaAvances .simulaUsuario,
 .infoSimulaAvances .simulaTools {
     background-color: #F3F3F3;
     padding: 20px;
     border-radius: 10px;
     margin-top: 20px;
     margin-bottom: 20px;
 }

 .contenidoFormulario2 .btn-outline-info {
    color: #B40D15;
    background-color: transparent;
    background-image: none;
    border-color: #B40D15;
}
 
 .infoSimulaAvances .simulaUsuario .infoLeft {
     text-align: left;
 }
 
 .infoSimulaAvances .simulaUsuario .infoLeft.cuota {
     border-top-left-radius: 10px;
     border-bottom-left-radius: 10px;
 }
 
 .infoSimulaAvances .simulaUsuario .infoRight.cuota {
     border-top-right-radius: 10px;
     border-bottom-right-radius: 10px;
 }
 
 .infoSimulaAvances .simulaUsuario .infoRight {
     text-align: right;
     font-size: 18px;
 }
 
 .infoSimulaAvances .simulaUsuario .cuota {
     background-color: #9fa9b0;
     color: #fff;
 }
 
 .infoSimulaAvances .simulaUsuario .cae {
     background-color: #fff;
     text-align: center;
     padding: 10px;
     font-size: 15px;
     border-radius: 5px;
     font-weight: 800;
     min-width: 200px;
     display: block;
     margin-left: auto;
     margin-right: auto;
 }
 
 .infoSimulaAvances .gris {
     color: #7b7b7b;
 }
 
 .infoSimulaAvances .simulaUsuario td {
     border-bottom: 1px solid #dee2e6;
     border-top: none;
 }
 
 .infoSimulaAvances .simulaUsuario tr:last-child td {
     border-bottom: none;
     border-top: none;
 }
 
 .infoSimulaAvances .simulaTools {}
 
 .infoSimulaAvances .simulaTools div {
     background-color: #fff;
     padding: 20px;
     border-radius: 10px;
 }
 
 .infoSimulaAvances .simulaTools ul {
     margin: 0;
     padding: 0;
 }
 
 .infoSimulaAvances .simulaTools a {
     font-size: 13px;
     color: #333333;
     display: block;
     padding: 9px;
 }
 
 .infoSimulaAvances .simulaTools .custom-control strong {
     margin-left: 25px;
     position: relative;
     top: 6px;
     text-transform: initial;
     font-size: 12px;
 }
 
 .tarjetaBloqueada {
     /* text-align: center; */
     position: relative;
 }
 
 .tarjetaBloqueada img {
     opacity: 0.3;
 }
 
 .tarjetaBloqueada .fa-lock {
     position: absolute;
     font-size: 25px;
     color: white;
     left: -8px;
     top: 52px;
 }
 
 .tarjetaBloqueada .mensaje_bloqueo {
     font-size: 11px;
     font-family: sans-serif;
     background-color: rgba(0, 0, 0, 0.5);
     color: white;
     padding: 3px;
     border-radius: 3px;
     width: 350px;
     position: absolute;
     top: 80px;
     text-align: left;
     padding-left: 15px;
     z-index: 3;
 }
 
 .formularioSeguros {}
 
 .formularioSeguros h2 {
     font-size: 22px;
     color: #B40D15;
     text-align: center;
 }
 
 .moduloFaqs {
     background-image: url(../img/bg-credito-consumo-faq.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: left top;
 }
 
 .moduloLegales h3 {
     color: #B40D15;
 }
 
 .moduloLegales p {
     color: #6f6f6f;
 }
 
 .selectorBeneficios li a img {
     width: 84px;
     height: 73px;
     box-sizing: border-box;
 }
 
 .selectorBeneficios li a.active img {
     box-sizing: border-box;
     padding-left: 84px;
 }
 
 .selectorBeneficios li:hover span {
     color: #B40D15;
 }
 
 .selectorBeneficios li a.active img.todos,
 .selectorBeneficios li:hover a img.todos {
     background: url(../img/icono-todos2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.entretencion,
 .selectorBeneficios li:hover a img.entretencion {
     background: url(../img/icono-entretencion2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.belleza,
 .selectorBeneficios li:hover a img.belleza {
     background: url(../img/icono-belleza2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.vestuario,
 .selectorBeneficios li:hover a img.vestuario {
     background: url(../img/icono-vestuario2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.ofertas,
 .selectorBeneficios li:hover a img.ofertas {
     background: url(../img/icono-ofertas2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.ayd,
 .selectorBeneficios li:hover a img.ayd {
     background: url(../img/icono-ayd2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorBeneficios li a.active img.equipamiento,
 .selectorBeneficios li:hover a img.equipamiento {
     background: url(../img/icono-equipamiento2.png) left top no-repeat;
     padding-left: 84px;
 }
 
 .selectorTarjetaApp li a img {
     width: 50px;
     height: 50px;
     box-sizing: border-box;
 }
 
 .selectorTarjetaApp li a.active img {
     box-sizing: border-box;
     padding-left: 50px;
 }
 
 .selectorTarjetaApp li a.active img.huella {
     background: url(../img/Huella_on.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.avance {
     background: url(../img/icono-app-avance2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.bloquear {
     background: url(../img/Bloqueo_on.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.cupo {
     background: url(../img/icono-app-cupo2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.estado {
     background: url(../img/icono-app-estado2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.movimientos {
     background: url(../img/icono-app-movimientos2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.notificaciones {
     background: url(../img/icono-app-notificaciones2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.ofertas {
     background: url(../img/icono-app-ofertas2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.pagar {
     background: url(../img/icono-app-pagar2.png) left top no-repeat;
 }
 
 .selectorTarjetaApp li a.active img.tiendas {
     background: url(../img/icono-app-tiendas2.png) left top no-repeat;
 }
 
 .datepicker {
     padding: 0px !important;
     border-radius: 3px;
     font-size: 12px !important;
     -webkit-box-shadow: 0px 7px 11px -5px rgba(0, 0, 0, 0.36);
     -moz-box-shadow: 0px 7px 11px -5px rgba(0, 0, 0, 0.36);
     box-shadow: 0px 7px 11px -5px rgba(0, 0, 0, 0.36);
 }
 
 .datepicker table tr th {
     width: 30px;
     height: 30px;
     border-radius: 0px !important;
     border: none;
 }
 
 .datepicker table tr td {
     width: 30px;
     height: 30px;
     border-radius: 0px !important;
     border: 1px solid #E8E8E8 !important;
 }
 
 .datepicker thead {
     background-color: #F1F1F1;
 }
 
 .datepicker thead .datepicker-switch,
 .datepicker thead .prev,
 .datepicker thead .next {
     color: #B40D15;
 }
 
 .datepicker td.active {
     background-color: #B40D15 !important;
 }
 /* VENTANA MODAL */
 
 body.modal-open section,
 body.modal-open header,
 body.modal-open footer,
 body.modal-open .carousel {
     -webkit-filter: blur(4px);
     -moz-filter: blur(4px);
     -o-filter: blur(4px);
     -ms-filter: blur(4px);
     filter: blur(4px);
 }
 
 .modal-content {
     -webkit-filter: blur(0px);
     -moz-filter: blur(0px);
     -o-filter: blur(0px);
     -ms-filter: blur(0px);
     filter: blur(0px);
 }
 
 .modal-header .close {
     padding: 10px;
 }
 
 .modal-header {
     padding: 0px !important;
     padding-right: 20px !important;
     padding-top: 0px !important;
     border-bottom: none !important;
 }
 
 .modal-header .close {
     font-size: 43px;
     font-weight: 300;
 }
 /* ACORDEON */
 
 .accordion a.card-title {
     font-size: 20px;
     font-weight: 700;
     cursor: pointer;
 }
 
 .accordion .card-header a.card-title {
     color: #B40D15 !important;
 }
 
 .accordion .collapsed a.card-title {
     color: #898989 !important;
 }
 
 .accordion .card-header .fa-plus:before {
     content: "\f068";
     color: #B40D15 !important;
 }
 
 .accordion .collapsed .fa-plus:before {
     content: "\f067";
     color: #B40D15 !important;
 }
 
 .accordion .card-body {
     font-size: 18px;
     font-weight: 300;
     color: #252525;
     padding: 10px;
     background-color: #F5F5F5;
 }
 
 .accordion .card-header {
     margin-bottom: 0;
     background-color: #F5F5F5;
     border-bottom: none;
 }
 
 .accordion .card-header.collapsed {
     background-color: #FFFFFF;
 }
 
 .accordion .card {
     border: none;
 }
 /* TABS SELECTOR */
 
 .board {
     width: 100%;
     background: #f4f3f3;
 }
 
 .board .nav-tabs {
     position: relative;
     margin-bottom: 0;
     box-sizing: border-box;
 }
 
 .board>div.board-inner {
     padding-top: 25px;
     padding-bottom: 25px;
 }
 
 .board-inner .nav-tabs {
     border-bottom: 0;
 }
 
 p.narrow {
     width: 60%;
     margin: 10px auto;
 }
 
 .liner {
     height: 2px;
     background: #ddd;
     position: absolute;
     width: 80%;
     margin: 0 auto;
     left: 0;
     right: 0;
     top: 50%;
     z-index: 1;
 }
 
 .nav-tabs>li.active>a,
 .nav-tabs>li.active>a:hover,
 .nav-tabs>li.active>a:focus {
     color: #555555;
     cursor: pointer;
     border: 0;
     border-bottom-color: transparent;
     text-decoration: none;
 }
 
 .nav-tabs>li a.show span {
     color: #B40D15;
 }
 
 span.round-tabs {
     width: auto;
     height: auto;
     line-height: 19px;
     display: block;
     z-index: 2;
     position: relative;
     left: 0;
     text-align: center;
     font-size: 16px;
     font-weight: 700;
     margin-top: 10px;
 }
 
 span.round-tabs.one {
     color: #787a7a;
 }
 
 li.active span.round-tabs.one {
     color: #000000;
 }
 
 span.round-tabs.two {
     color: #787a7a;
 }
 
 li.active span.round-tabs.two {
     background: #fff !important;
     border: 2px solid #ddd;
     color: #febe29;
 }
 
 span.round-tabs.three {
     color: #787a7a;
 }
 
 li.active span.round-tabs.three {
     background: #fff !important;
     border: 2px solid #ddd;
     color: #3e5e9a;
 }
 
 span.round-tabs.four {
     color: #787a7a;
 }
 
 li.active span.round-tabs.four {
     background: #fff !important;
     border: 2px solid #ddd;
     color: #f1685e;
 }
 
 span.round-tabs.five {
     color: #787a7a;
 }
 
 li.active span.round-tabs.five {
     background: #fff !important;
     border: 2px solid #ddd;
     color: #999;
 }
 
 .nav-tabs>li.active>a span.round-tabs {}
 
 .nav-tabs>li {
     width: auto;
     text-align: center;
 }
 
 .nav-tabs>li a {
     width: auto;
     height: 70px;
     padding: 0;
 }
 
 .nav-tabs>li a:hover {
     text-decoration: none;
     color: #B40D15;
 }
 
 .nav-tabs>li a:hover span {
     color: #B40D15;
 }
 
 .tab-content {
     background-color: white;
 }
 
 .tab-content .in {
     opacity: 1;
 }
 
 .tab-pane {
     position: relative;
     padding-top: 50px;
 }
 
 .tab-pane .col-lg-4 {
     margin-bottom: 20px;
 }
 
 .tab-content .head {
     font-size: 25px;
     text-transform: uppercase;
     padding-bottom: 10px;
 }
 
 .btn-outline-rounded {
     padding: 10px 40px;
     margin: 20px 0;
     border: 2px solid transparent;
     border-radius: 25px;
 }
 
 .btn.green {
     background-color: #5cb85c;
     color: #ffffff;
 }
 /* FOOTER */
 
 footer {
     background-color: #f4f4f4;
     color: #96959d;
     font-size: 14px;
     padding: 20px;
     padding-top: 30px;
     padding-bottom: 20px;
 }
 
 footer h1 {
     font-size: 26px;
     font-weight: 700;
     color: #B40D15;
 }
 
 footer h2 {
     font-size: 16px;
     font-weight: 400;
     color: #B40D15;
     margin-bottom: 0;
 }
 
 footer h3 {
     font-size: 14px;
     font-weight: 700;
     color: #B40D15;
 }
 
 footer ul {
     padding-left: 0;
 }
 
 footer ul li a {
     text-transform: uppercase;
     font-size: 11px;
     color: #96959d;
 }
 
 footer ul li a:hover {
     color: #000000;
     text-decoration: none;
 }
 
 footer .fa-trophy {
     color: #B40D15;
     margin-right: 5px;
 }
 
 footer .logoAbc-footer {
     border-bottom: 1px solid #B9B9B9;
     margin-bottom: 10px;
 }
 
 footer .tarjeta-footer {
     margin-left: 30px;
 }
 
 footer .redes-footer li {
     float: right;
     margin-left: 10px;
 }
 
 footer .legales {
     text-align: center;
     padding-top: 20px;
 }
 
 footer .legales a {
     color: #96959D;
     text-decoration: underline;
 }
 
 footer .info_perdida {
     max-width: 330px;
     margin-top: 30px;
 }
 
 footer .info_perdida strong {
     color: #565656;
 }
 
 .steps {
     width: 100%;
     height: 150px;
 }
 
 .bs-wizard {
     margin-top: 40px;
 }
 
 .bs-wizard {
     border-bottom: solid 1px #e0e0e0;
     padding: 0 0 10px 0;
 }
 
 .bs-wizard>.bs-wizard-step {
     padding: 0;
     position: relative;
     width: 33%;
 }
 
 .bs-wizard>.bs-wizard-step+.bs-wizard-step {}
 
 .bs-wizard>.bs-wizard-step .bs-wizard-stepnum {
     color: #595959;
     font-size: 16px;
     margin-bottom: 5px;
 }
 
 .bs-wizard>.bs-wizard-step .bs-wizard-info {
     color: #999;
     font-size: 20px;
     padding-top: 20px;
     line-height: initial;
 }
 
 .bs-wizard>.bs-wizard-step>.bs-wizard-dot {
     position: absolute;
     width: 70px;
     height: 70px;
     display: block;
     background: #b7072f;
     top: 0px;
     left: 44%;
     margin-top: -15px;
     margin-left: -15px;
     border-radius: 50%;
 }
 
 .bs-wizard>.bs-wizard-step>.progress {
     position: relative;
     border-radius: 0px;
     height: 4px;
     box-shadow: none;
     margin: 20px 0;
     background-color: #e6e6e6;
 }
 
 .bs-wizard>.bs-wizard-step>.progress>.progress-bar {
     width: 0px;
     box-shadow: none;
     background: #B7072F;
 }
 
 .bs-wizard>.bs-wizard-step.complete>.progress>.progress-bar {
     width: 100%;
 }
 
 .bs-wizard>.bs-wizard-step.active>.progress>.progress-bar {
     width: 50%;
 }
 
 .bs-wizard>.bs-wizard-step:first-child.active>.progress>.progress-bar {
     width: 0%;
 }
 
 .bs-wizard>.bs-wizard-step:last-child.active>.progress>.progress-bar {
     width: 100%;
 }
 
 .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot {
     background-color: #E6E6E6;
 }
 
 .bs-wizard>.bs-wizard-step.disabled>.bs-wizard-dot:after {
     opacity: 0;
 }
 
 .bs-wizard>.bs-wizard-step:first-child>.progress {
     left: 50%;
     width: 50%;
 }
 
 .bs-wizard>.bs-wizard-step:last-child>.progress {
     width: 50%;
 }
 
 .bs-wizard>.bs-wizard-step.disabled a.bs-wizard-dot {
     pointer-events: none;
 }
 
 .bs-wizard>.bs-wizard-step>.bs-wizard-dot .fa-user:before {
     color: white;
     position: relative;
     top: 20px;
     left: 22px;
     font-size: 28px;
 }
 
 .bs-wizard-step.disabled .fa-user:before {
     color: #4b4949 !important;
 }
 
 .bs-wizard>.bs-wizard-step>.bs-wizard-dot .fa-at:before {
     color: white;
     position: relative;
     top: 20px;
     left: 20px;
     font-size: 28px;
 }
 
 .bs-wizard-step.disabled .fa-at:before {
     color: #4b4949 !important;
 }
 
 .bs-wizard>.bs-wizard-step>.bs-wizard-dot .fa-credit-card:before {
     color: white;
     position: relative;
     top: 20px;
     left: 20px;
     font-size: 28px;
 }
 
 .bs-wizard-step.disabled .fa-credit-card:before {
     color: #4b4949 !important;
 }
 
 .bs-wizard>.bs-wizard-step.complete .text-center {
     color: #B7072F;
 }
 
 #ModalFormularioContactoSeguro div.form-group .form-control {
     font-size: 12px !important;
     /*text-transform: uppercase;*/
 }
 
 .moduloRequisitosTarjeta ul {
     padding-left: 5px;
     list-style: none
 }
 
 .moduloRequisitosTarjeta ul li {
     text-align: left;
     list-style: none !important;
 }
 
 .moduloRequisitosTarjeta ul li::before {
     content: "•";
     color: #B40D15;
     display: inline-block;
     width: 1em;
     margin-left: -1em;
 }
 
 .moduloRequisitosTarjeta p strong,
 .moduloRequisitosTarjeta p {
     text-align: left;
     font-size: 14px;
 }
 
 .moduloRequisitosTarjeta h3 {
     font-size: 18px;
     text-align: left;
     color: #B40D15;
     margin-top: 30px;
 }
 
 .moduloRequisitosTarjeta h5 {
     font-size: 16px;
     text-align: left;
     color: #000;
     margin-top: 20px;
 }
 
 .mensajeCierre {
     padding: 100px;
     padding-left: 50px !important;
     padding-right: 50px !important;
 }
 
 .mensajeCierre h1 {
     font-size: 40px;
     font-weight: 300;
     color: #B7072F;
 }
 
 .mensajeCierre p {
     font-size: 18px;
     color: #6e6e6e;
 }
 
 .infoMisOfertas a {
     opacity: 1;
     transition: all 0.3s ease 0s;
 }
 
 .infoMisOfertas a:hover {
     opacity: 0.65;
 }
 
 .BarraSubmenu {
     background-color: #595959;
 }
 
 .BarraSubmenu .nav-tabs .nav-item {
     margin-bottom: 0;
 }
 
 .BarraSubmenu .nav-tabs {
     border-bottom: none;
 }
 
 .BarraSubmenu .nav-tabs .nav-link,
 .BarraSubmenu .nav-tabs .nav-link.active {
     background-color: #595959;
     color: #acacac;
     border: none;
     float: none;
     display: flex;
     align-items: center;
     justify-content: center;
     font-size: 16px;
     font-weight: 700;
     text-transform: inherit !important;
     height: 90px;
     width: 300px;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active {
     color: white;
 }
 
 .BarraSubmenu .nav-tabs .nav-link img {
     width: 60px;
     height: 60px;
     box-sizing: border-box;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img {
     box-sizing: border-box;
     padding-left: 60px;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.seguroVida {
     background: url(../img/icono-seguro-vida2.png) left top no-repeat;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.escolaridad {
     background: url(../img/icono-escolaridad2.png) left top no-repeat;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.salud {
     background: url(../img/icono-individual-salud2.png) left top no-repeat;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.cesantia {
     background: url(../img/icono-cesantia-cuenta-basica2.png) left top no-repeat;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.robo {
     background: url(../img/icono-robo-bonificacion2.png) left top no-repeat;
 }
 
 .BarraSubmenu .nav-tabs .nav-link.active img.hogar {
     background: url(../img/icono-hogar-bonificacion2.png) left top no-repeat;
 }
 
 .ContenidoSeguro .bgrojo {
     background-color: #B40D15;
 }
 
 .ContenidoSeguro .descripcion {
     background-color: #444444;
     color: #fff;
     font-size: 16px;
     font-weight: 300;
     text-align: center;
 }
 
 .ContenidoSeguro .datosPrima {
     text-align: center;
 }
 
 .ContenidoSeguro .datosPrima span {
     color: #fff;
     font-weight: 700;
     font-size: 14px;
 }
 
 .ContenidoSeguro .datosPrima .monto {
     margin-bottom: 0;
     font-weight: 400;
     font-size: 26px;
     padding-bottom: 8px;
 }
 
 .ContenidoSeguro .datosPrima .uf {
     background-color: #8e002f;
     margin-bottom: 0;
     max-width: 110px;
     padding: 2px;
     border-radius: 5px;
     margin-left: auto;
     margin-right: auto;
     font-size: 14px !important;
 }
 
 .ContenidoSeguro .datosTabla {}
 
 .ContenidoSeguro .datosTabla h1 {
     color: #B40D15;
     font-size: 24px;
     font-weight: 700;
     float: left;
 }
 
 .ContenidoSeguro .datosTabla table {
     display: table;
     font-size: 18px;
 }
 
 .ContenidoSeguro .datosTabla table thead {
     background-color: #f7f7f7;
     color: black;
     border: none !important;
 }
 
 .ContenidoSeguro .datosTabla table th {
     border: none !important;
 }
 
 .ContenidoSeguro .datosTabla table td {
     color: #888888;
     border-bottom: 1px solid #dee2e6;
     border-top: none;
 }
 
 .ContenidoSeguro .btntarifa {
     background-color: #a6a6a6;
     border: none;
     font-size: 12px;
     margin-left: 10px;
 }
 
 .ContenidoSeguro .letraChica {
     font-size: 12px;
     font-style: italic;
     color: #888888;
 }
 
 .ContenidoSeguro .board-inner {
     background-color: #595959;
     padding-top: 0px !important;
     padding-bottom: 0px !important;
 }
 
 .ContenidoSeguro .nav-tabs .round-tabs {
     color: #9b9b9b;
     font-size: 20px;
 }
 
 .ContenidoSeguro .nav-tabs>li a {
     width: auto;
     align-self: center;
     padding-top: 20px;
     padding-bottom: 20px;
     height: 90px;
     display: block;
     text-align: left;
 }
 
 .ContenidoSeguro .nav-tabs>li a.active {
     color: #ffffff;
 }
 
 .ContenidoSeguro .nav-tabs>li .active::after {
     content: "";
     display: block;
     background-color: #B40D15;
     height: 5px;
     width: 100%;
     position: relative;
     top: 41px;
     z-index: 1;
 }
 
 .ContenidoSeguro .nav-tabs>li a.active .round-tabs {
     color: #ffffff;
 }
 
 .ContenidoSeguro .Contenido h1 {
     color: #B40D15;
     font-size: 24px;
     font-weight: 700;
 }
 
 .ContenidoSeguro .Contenido ul li {
     border-bottom: 1px solid #DAD7D7;
     padding-top: 10px;
     padding-bottom: 10px;
 }
 
 .ContenidoSeguro .gris {
     background-color: #f0f0f0;
 }
 
 .preguntasFrec .nav-tabs li a img {
     width: 87px;
     height: 88px;
     box-sizing: border-box;
 }
 
 .preguntasFrec .nav-tabs li a.active img {
     box-sizing: border-box;
     padding-left: 87px;
 }
 
 .preguntasFrec .nav-tabs li:hover {
     color: #fff;
 }
 
 .preguntasFrec .nav-tabs li a.active img.tarjeta,
 .preguntasFrec .nav-tabs li:hover a img.tarjeta {
     background: url(../img/icono-asesoria-tarjeta2.png) left top no-repeat;
     padding-left: 87px;
 }
 
 .preguntasFrec .nav-tabs li a.active img.asesoria,
 .preguntasFrec .nav-tabs li:hover a img.asesoria {
     background: url(../img/icono-asesoria-pagos2.png) left top no-repeat;
     padding-left: 87px;
 }
 
 .preguntasFrec .nav-tabs li a.active img.glosario,
 .preguntasFrec .nav-tabs li:hover a img.glosario {
     background: url(../img/icono-asesoria-glosario2.png) left top no-repeat;
     padding-left: 87px;
 }
 
 .preguntasFrec .nav-tabs li a.active img.seguros,
 .preguntasFrec .nav-tabs li:hover a img.seguros {
     background: url(../img/icono-asesoria-seguros2.png) left top no-repeat;
     padding-left: 87px;
 }
 
 .moduloAsistencia {
     background-color: #b7072f;
     color: #ffffff;
 }
 
 .moduloAsistencia h1 {
     /* color: #e98cab; */
     color: #ffffff;
     font-size: 50px;
     font-weight: 700;
 }
 
 .moduloAsistencia p {
     font-size: 28px;
 }
 
 .moduloAsistencia .btn {
     border-color: #ffffff;
     color: #fff;
     font-size: 21px;
     width: 50%;
 }
 
 .SeguroIndividual li a img {
     width: 55px;
     height: 57px;
     box-sizing: border-box;
 }
 
 .SeguroIndividual li a:hover,
 .Garantia li a.active,
 .SeguroIndividual a.active,
 .Garantia li a:hover {
     color: #b7072f;
 }
 
 .SeguroIndividual li a.active img,
 .SeguroIndividual li a:hover img {
     box-sizing: border-box;
     padding-left: 55px;
 }
 
 .SeguroIndividual li a.active img.vida,
 .SeguroIndividual li a:hover img.vida {
     background: url(../img/icono-vida.png) left top no-repeat;
 }
 
 .SeguroIndividual li a.active img.salud,
 .SeguroIndividual li a:hover img.salud {
     background: url(../img/icono-salud.png) left top no-repeat;
 }
 
 .SeguroIndividual li a.active img.financiera,
 .SeguroIndividual li a:hover img.financiera {
     background: url(../img/icono-financiera.png) left top no-repeat;
 }
 
 .SeguroIndividual li a.active img.hogar,
 .SeguroIndividual li a:hover img.hogar {
     background: url(../img/icono-hogar.png) left top no-repeat;
 }
 
 .SeguroIndividual li a.active img.automotriz,
 .SeguroIndividual li a:hover img.automotriz {
     background: url(../img/icono-automotriz.png) left top no-repeat;
 }
 
 .Garantia li:first-child {
     padding-right: 90px;
 }
 
 .asistencia h1 {
     font-size: 24px;
     font-weight: 700;
     color: #3e3e3e;
 }
 
 .asistencia p {
     font-size: 18px;
     font-weight: 300;
 }
 
 .boxActivarAsistencia {
     background-color: #f3f2f2;
     padding: 20px;
     border-radius: 5px;
 }
 
 .boxActivarAsistencia h1 {
     color: #B40D15;
     font-size: 20px;
 }
 
 .boxActivarAsistencia a {
     font-size: 26px;
     color: black;
     padding: 6px;
     background-color: white;
     width: 100%;
     display: block;
     border-radius: 5px;
     font-weight: 700;
     padding-left: 20px;
 }
 
 .boxActivarAsistencia a:hover,
 .tablaServicios a:hover {
     color: #B40D15;
 }
 
 .tablaServicios {
     background-color: #f1f1f1 !important;
     font-size: 14px;
     border-radius: 10px;
     overflow: hidden;
 }
 
 .tablaServicios tr {
     text-align: center;
 }
 
 .tablaServicios thead th {
     vertical-align: bottom;
     border-bottom: none;
     background-color: #B40D15;
     color: white;
     vertical-align: middle;
     padding-top: 15px;
     padding-bottom: 15px;
     font-size: 16px;
 }
 
 .tablaServicios td {
     vertical-align: middle !important;
     border-right: 1px solid #DEE2E6;
 }
 
 .tablaServicios a {
     text-decoration: underline;
     color: #313538;
 }
 
 .tablaServicios td img {
     clear: both;
     display: block;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 10px;
 }
 
 .tablaServicios .infoModal {
     float: right;
     color: #B40D15;
     font-size: 16px;
 }
 
 .Asistencias li a img {
     /* width: 78px;
     height: 51px; */
     width: 58px;
     height: 51px;
     box-sizing: border-box;
     float: left;
     margin-bottom: 20px;
 }
 
 .Asistencias li:first-child {
     /* padding-right: 120px; */
 }
 
 .Asistencias li a.active,
 .Asistencias li a:hover {
     color: #b7072f;
 }
 
 .Asistencias li a.active img,
 .Asistencias li a:hover img {
     box-sizing: border-box;
     padding-left: 58px;
 }
 
 .Asistencias li a.active img.dental,
 .Asistencias li a:hover img.dental {
     background: url(../img/ico-asistencia-dental2.png) left top no-repeat;
 }
 
 .Asistencias li a.active img.hogar,
 .Asistencias li a:hover img.hogar {
     background: url(../img/ico-asistencia-hogar2.png) left top no-repeat;
 }
 
 .Asistencias li a.active img.mujer,
 .Asistencias li a:hover img.mujer {
     background: url(../img/ico-asistencia-mujer2.png) left top no-repeat;
 }
 
 .Asistencias li a.active img.vida,
 .Asistencias li a:hover img.vida {
     background: url(../img/ico-asistencia-vida2.png) left top no-repeat;
 }
 
 .Asistencias li a.active img.urgencia,
 .Asistencias li a:hover img.urgencia {
     background: url(../img/ico-asistencia-urgencia2.png) left top no-repeat;
 }
 
 .Asistencias li a.active img.clinica,
 .Asistencias li a:hover img.clinica {
     background: url(../img/ico-asistencia-clinica2.png) left top no-repeat;
 }
 
 .boxInfoMantencion {
     background: url(../img/bg-sitio-mantencion.jpg) right top no-repeat;
     min-height: 550px !important;
     background-size: cover;
 }
 
 .boxInfoMantencion img {
     float: left;
     margin-right: 20px;
 }
 
 .boxInfoMantencion h1 {
     font-weight: 300;
     float: left;
     width: 50%;
     font-size: 50px;
 }
 
 .boxInfoMantencion h1 strong {
     font-weight: 600;
 }
 
 .boxInfoMantencion p {
     font-size: 18px;
     float: left;
 }
 
 .boxInfoMantencion .info {
     align-self: center;
     margin-left: 20px;
 }
 
 .boxInfoContacto p {
     font-size: 14px;
     text-transform: uppercase;
 }
 
 .boxInfoContacto h2 {
     font-size: 15px;
     position: relative;
     top: 6px;
     left: 10px;
     color: #B40D15;
 }
 
 .boxInfoContacto h3 a {
     color: #5a5a5a;
     position: relative;
     left: 10px;
 }
 
 .boxInfoContacto img {
     float: left;
 }
 
 .asymmetric {
     position: relative;
     background-color: transparent;
     height: 60px;
 }
 
 .asymmetric::before {
     position: absolute;
     content: "";
     width: 100%;
     height: 100%;
     top: -60px;
     left: 0;
     background-color: white;
     transform-origin: top left;
     transform: skewY(2deg);
     z-index: 1;
 }
 
 #ModalFormularioQuieroMiTarjeta .modal-lg,
 #ModalFormularioEquifax .modal-lg {
     max-width: 690px;
 }
 
 .infomodalquieroTarjeta {
     padding: 20px;
     padding-left: 40px;
     padding-right: 40px;
 }
 
 .infomodalquieroTarjeta h2 {
     color: #444444;
     font-weight: 700;
     font-weight: bold;
     font-size: 24px;
     float: left;
 }
 
 .infomodalquieroTarjeta ul {
     padding: 0;
     margin: 0;
 }
 
 .infomodalquieroTarjeta ul li {
     color: #c7c5c5;
     float: left;
     font-size: 48px;
     margin-right: 10px;
     line-height: initial;
 }
 
 .infomodalquieroTarjeta .pasos {
     float: right;
     position: relative;
     top: -15px;
 }
 
 .infomodalquieroTarjeta .pasos span {
     font-size: 11px;
     font-weight: 700;
     color: #B40D15;
 }
 
 .infomodalquieroTarjeta .docs a {
     color: #444444;
     font-size: 12px;
     font-weight: 700;
     text-decoration: underline;
 }
 
 .infomodalquieroTarjeta .form-control {
     font-size: 11px !important;
     background-color: white !important;
     color: #757575 !important;
 }
 
 .infomodalquieroTarjeta .boxhijos {
     border: 1px solid #E4E4E4;
     border-radius: 5px;
     padding: 10px;
     padding-top: 15px;
     font-size: 11px;
     font-weight: bold;
     display: table;
     width: 100%;
     padding-bottom: 1px;
 }
 
 .infomodalquieroTarjeta .boxhijos .custom-control-label {
     font-size: 10px;
     top: 0px;
     left: 0px;
     text-indent: 25px;
 }
 
 .infomodalquieroTarjeta .boxhijos .custom-control-label::before,
 .infomodalquieroTarjeta .boxhijos .custom-control-label::after {
     top: 0px;
 }
 
 .infomodalquieroTarjeta .terminos {
     background-color: #737373;
     color: #fff;
     border-radius: 5px;
     display: table;
     width: 100%;
     margin-bottom: 20px;
 }
 
 .infomodalquieroTarjeta .terminos .txt {
     color: white;
     font-size: 11px;
     top: 15px;
     left: 40px;
 }
 
 .infomodalquieroTarjeta .terminos .custom-control-label::before,
 .infomodalquieroTarjeta .terminos .custom-control-label::after {
     left: -25px;
     top: 1px;
 }
 
 .infomodalquieroTarjeta .terminos a {
     float: right;
     color: #ffffff;
     text-decoration: underline;
     position: relative;
     top: -10px;
     right: 15px;
 }
 
 .infomodalquieroTarjeta .activo {
     color: #807f7f;
 }
 
 .infomodalquieroTarjeta .alertaSerie {
     font-size: 9px;
     color: #B40D15;
     margin-bottom: 10px;
 }
 
 .infomodalquieroTarjeta .alertaSerie i {
     font-size: 14px;
 }
 
 .infomodalquieroTarjeta .form-control:disabled,
 .infomodalquieroTarjeta .boxhijos.disabled {
     background-color: #F3F3F3 !important;
 }
 
 #ModalFormularioEquifax {
     z-index: 1500 !important;
     background-color: rgba(0, 0, 0, 0.2);
 }
 
 #ModalFormularioEquifax .pregunta {
     display: block;
     margin-bottom: 25px;
     width: 100%;
     clear: both;
 }
 
 #ModalFormularioEquifax .pregunta label {
     color: #4C4C4C;
     font-size: 12px;
     font-weight: 700;
     text-transform: initial;
 }
 
 #ModalFormularioEquifax h3 {
     font-size: 13px;
     text-align: left;
 }
 
 #ModalFormularioEquifax .cajaAutorizacion {
     background-color: white;
     padding: 20px;
     border: 1px solid #C3C3C3;
     border-radius: 10px;
     text-align: center;
     margin-bottom: 20px;
 }
 
 #ModalFormularioEquifax .cajaAutorizacion p {
     font-size: 13px;
     font-weight: 400;
     margin-bottom: 15px;
 }
 
 #ModalFormularioEquifax .cajaAutorizacion .btn-primary {
     color: #fff;
     background-color: #424242;
     border-color: #424242;
 }
 
 #ModalFormularioEquifax .cajaAutorizacion .btn-outline-primary {
     color: #B40D15;
     border-color: #B40D15;
     margin-right: 10px;
 }
 
 #ModalFormularioEquifax .cajaAutorizacion .btn-outline-primary:hover {
     color: #fff;
     border-color: #B40D15;
     background-color: #B40D15 !important;
 }
 
 #ModalFormularioEquifax .aprobacion {
     text-transform: uppercase;
     font-size: 12px !important;
     color: #B40D15;
     margin-top: 15px;
     margin-bottom: 0px !important;
 }
 
 #ModalFormularioEquifax .custom-control-label::before,
 #ModalFormularioEquifax .custom-control-label::after {
     top: 0px;
     left: -25px;
 }
 
 #ModalFormularioEquifax,
 #ModalFormularioQuieroMiTarjeta {
     padding-right: 0px !important;
     padding-left: 0px !important;
 }
 
 #ModalFormularioEquifax .col-md-4,
 #ModalFormularioEquifax .col-md-6,
 #ModalFormularioEquifax .col-md-8,
 #ModalFormularioEquifax .col-sm-12,
 #ModalFormularioQuieroMiTarjeta .col-md-4,
 #ModalFormularioQuieroMiTarjeta .col-md-6,
 #ModalFormularioQuieroMiTarjeta .col-md-8,
 #ModalFormularioQuieroMiTarjeta .col-sm-12 {
     padding-right: 5px;
     padding-left: 5px;
 }
 
 .boxAutorizaTransferencia p {
     font-size: 14px;
 }
 
 .boxAutorizaTransferencia a {
     font-size: 14px;
     text-decoration: underline;
     color: #B40D15;
 }
 
 #ModalEditarCuentas .boxRadio {
     background-color: #f4f4f4;
     padding: 10px;
     border: 1px solid #E0E0E0;
     border-radius: 5px;
     width: 47%;
     float: left;
     margin-bottom: 20px;
 }
 
 #ModalEditarCuentas .pagoExitoso form {
     width: 90%;
 }
 
 #ModalEditarCuentas .contenidoFormulario1 ul {
     padding-left: 10px;
     margin-top: 20px;
     text-align: left;
     font-size: 13px;
 }
 
 #ModalEditarCuentas .contenidoFormulario1 .custom-control-label a {
     left: 25px;
     position: relative;
     color: #B40D15;
     text-decoration: underline;
     top: 5px;
 }
 
 #ModalEditarCuentas .contenidoFormulario1 .custom-control-label::before {
     background-color: #C5C6C7;
 }
 
 #ModalEditarCuentas .contenidoFormulario1 .custom-control-label::before,
 #ModalEditarCuentas .contenidoFormulario1 .custom-control-label::after {
     left: 0;
 }
 
 #ModalEditarCuentas .contenidoFormulario1 label {
     font-size: 13px;
     left: 10px;
 }
 
 .msg-notifi {
     position: relative;
 }
 
 #login span.rojo {
     position: absolute;
     background-color: #FDF7BF;
     color: #000000;
     max-width: 410px;
     padding: 10px;
     left: -415px;
     top: 36.6px;
     z-index: 9999;
     text-align: left;
     -webkit-box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.5);
     -moz-box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.5);
     box-shadow: 1px 4px 8px -1px rgba(0, 0, 0, 0.3);
     font-size: 12px;
     display: block;
     line-height: initial;
 }
 
 .notificacioneslogin span.rojo {
     left: -255px;
     top: 35px;
 }
 
 .Asistencias .menuasistencias {
     width: 100%;
     padding-left: 40px;
     padding-right: 40px;
 }
 
 .tab-content .info-app .px-0 {
     margin-left: 20px;
 }
 
 .Asistencias .menuasistencias li {
     min-width: 14% !important;
 }
 /************ Mobile navigation *************/
 
 .nav-mobile {
     display: none;
     position: absolute;
     top: 0;
     right: 0;
     background: #262626;
     height: 70px;
     width: 70px;
 }
 
 @media only screen and (max-width: 800px) {
     .nav-mobile {
         display: block;
     }
     nav {
         width: 100%;
         padding: 70px 0 15px;
     }
     nav ul {
         display: none;
     }
     nav ul li {
         float: none;
     }
     nav ul li a {
         padding: 15px;
         line-height: 20px;
     }
     nav ul li ul li a {
         padding-left: 30px;
     }
     .hidden-sm {
         display: none;
     }
     .preguntasFrec h1 {
         font-size: 30px;
     }
     .preguntasFrec .tab-pane {
         padding-top: 1px;
         padding-bottom: 1px;
     }
     .olvidoClave {
         left: 0px;
         width: 100%;
         margin-left: 0px;
     }
 }
 
 @media screen and (min-width: 800px) {
     .nav-list {
         display: block !important;
     }
 }
 
 @media (min-width: 1200px) {
     .container {
         max-width: 1200px !important;
     }
 }
 /************ Media max width 585 *************/
 
 @media( max-width: 585px) {
     .board {
         width: 100%;
         height: auto !important;
     }
     span.round-tabs {
         font-size: 16px;
         width: 100%;
         text-align: center;
         height: auto;
         line-height: initial;
     }
     .tab-content .head {
         font-size: 20px;
     }
     .nav-tabs>li {
         width: 50%;
         text-align: center;
         padding: 20px;
     }
     .tab-content>.active {
         padding: 1px;
     }
     .contenidoApp .info-app {
         text-align: center;
     }
     .contenidoApp .info-app img {
         float: none;
         margin-right: auto;
         margin-left: auto;
         width: 40%;
         margin-top: 30px;
     }
     .nav-tabs>li a {
         /*width: 50px;
         height: 50px;*/
         width: 100%;
         height: 100%;
         line-height: 50px;
     }
     li.active:after {
         content: " ";
         position: absolute;
         left: 35%;
     }
     .btn-outline-rounded {
         padding: 12px 20px;
     }
     .cajasVideo .bg1,
     .cajasVideo .bg2,
     .cajasVideo .bg3 {
         min-height: 350px;
     }
     .info-servicio-top {
         padding-left: 10px;
     }
     footer .tarjeta-footer {
         margin-left: 30px;
         width: 70px;
         height: auto;
     }
     .barraTitular .bggris2 {
         padding-left: 20px;
         padding-right: 20px;
     }
     .barraTitular .bggris1 {
         padding-top: 40px;
     }
     .bggris1:before {
         content: '';
         position: relative;
         border-right: 0;
         -webkit-transform: none;
         -ms-transform: none;
         transform: none;
     }
     .bggris2:before {
         content: '';
         position: relative;
         border-right: 0;
         -webkit-transform: none;
         -ms-transform: none;
         transform: none;
     }
     .barraTitular .boxCupo .btn-extracupo {
         font-size: 14px;
         width: 100%;
     }
     .barraTitular .boxBloqueo {
         text-align: center;
         max-width: 100%;
         padding-top: 20px;
         padding-bottom: 20px;
     }
     .barraTitular .boxCupo p {
         font-size: 13px;
         min-height: 60px;
         padding-right: 30px;
     }
     .barraTitular input[type="range"] {
         width: 10%;
     }
     .boxInfoMovimientos {
         padding: 10px;
     }
     .boxTablaMovimientos .w4 {
         width: 22%;
     }
     .boxTablaMovimientos .w1 {
         width: 50%;
     }
     .tablaDeuda {
         padding: 10px;
     }
     .boxTablaMovimientos {
         margin-top: 20px;
     }
     .boxActualizaDatos h3.tituDatos {
         margin-top: 15px;
     }
     .boxActualizaDatos .w1 {
         width: 100%;
     }
     .contenidoModal {
         padding-top: 0px;
         padding-left: 10px !important;
         padding-right: 10px !important;
     }
     .infomodalserviCliente h2 {
         margin-bottom: 10px !important;
     }
     .pagoExitoso p {
         font-size: 16px;
     }
     .texto-info p{
        margin-left: 10px;
        font-size: 12px !important;
     }
     div.pagoNoExitoso p {
         width: 80%;
         margin-left: auto;
         margin-right: auto;
     }
     .modalComprobantePago img {
         width: 60%;
     }
     .modalComprobantePago div.contenidoModal {
         margin-left: 15px;
         margin-right: 15px;
         padding-left: 15px !important;
         padding-right: 15px !important;
         margin-bottom: 25px;
     }
     .modalComprobantePago p.mensajeFooter {
         font-size: 15px;
     }
     .infoMisOfertas .boxBanner {
         padding: 15px;
     }
     .infoMisOfertas .bannerTop {
         margin: 14px;
     }
     .boxTablaMovimientos .points_table.noFacturado .noFacturados {
         text-align: left;
         font-size: 20px;
         font-weight: 300;
     }
     .infoSimulaAvances .simulaUsuario .cae {
         min-width: 140px;
     }
     .infoSimulaAvances .simulaUsuario,
     .infoSimulaAvances .simulaTools {
         padding: 10px;
         margin-top: 10px;
         margin-bottom: 10px;
     }
     .infoSimulaAvances .simulaTools div {
         padding: 10px;
     }
     .infoSimulaAvances .simulaTools label {
         top: 0px;
         left: 0px;
     }
     .infoSimulaAvances h2 {
         width: 80%;
         padding: 20px;
         padding-bottom: 0;
     }
     .infoSimulaAvances .progress {
         width: 90%;
         margin-left: auto;
         margin-right: auto;
     }
     .contenidoSeguros .cajaServiciosAdicionales {
         padding: 25px;
     }
     .moduloFaqs .btn {
         margin-bottom: 10px;
     }
     .contenidoPagarCuenta .infoAsterisco {
         white-space: normal;
     }
     .preguntasFrec .nav-tabs>li {
         width: 100%;
     }
     .contenidoApp .info-app p {
         font-size: 20px;
         line-height: 30px;
         padding: 20px;
     }
     .mensajeCierre {
         padding: 20px;
         padding-left: 15px !important;
         padding-right: 15px !important;
     }
     .mensajeCierre h1 {
         font-size: 38px;
         line-height: initial;
     }
     .BarraSubmenu .nav-tabs .nav-item {
         width: 100%;
         padding: 10px;
     }
     .ContenidoSeguro .datosTabla h1 {
         float: none;
     }
     .ContenidoSeguro .datosTabla table {
         font-size: 14px;
     }
     .ContenidoSeguro .nav-tabs>li {
         padding-top: 20px;
         padding-bottom: 20px;
         height: 90px;
         display: block;
         width: 100%;
     }
     .ContenidoSeguro .nav-tabs>li a {
         width: 100%;
         padding-top: 10px;
         padding-bottom: 10px;
         height: 50px;
     }
     .boxSeguros .box h1 {
         font-size: 13px;
     }
     .ContenidoSeguro .nav-tabs>li .active::after {
         top: 10px;
     }
     .moduloAsistencia h1 {
         font-size: 30px;
     }
     .moduloAsistencia p {
         font-size: 22px;
     }
     .Asistencias li:first-child {
         padding-right: 0px;
     }
     .tablaServicios thead th {
         font-size: 14px;
     }
     .boxInfoMantencion {
         min-height: 300px !important;
         background-size: contain;
     }
     .boxInfoMantencion .info {
         margin-left: 10px;
     }
     .boxInfoMantencion img {
         margin-right: 10px;
         width: 15%;
         height: 15%;
     }
     .boxInfoMantencion h1 {
         width: 70%;
         font-size: 30px;
     }
     .boxInfoContacto {
         position: relative;
         top: -40px;
     }
     .boxInfoContacto p {
         font-size: 13px;
     }
     .asymmetric {
         display: none;
     }
     .boxInfoContacto img {
         margin-bottom: 30px;
     }
     .marca-top.mantencion {
         width: 200px;
     }
     .boxSeguros .descargaCertificado {
         float: none;
         width: 100%;
         margin-left: 22px;
         top: 0px;
         height: 65px;
         display: table;
     }
     .boxSeguros .descargaCertificado a {
         width: 80%;
         padding-top: 15px;
         font-size: 13px;
     }
     .infomodalquieroTarjeta h2 img.tarjeta {
         display: block;
         margin-bottom: 20px;
     }
     .infomodalquieroTarjeta {
         padding-left: 20px;
         padding-right: 20px;
     }
     .infomodalquieroTarjeta .pasos {
         top: -120px;
     }
     .infomodalquieroTarjeta .terminos .txt {
         font-size: 10px;
         top: 11px;
         left: 40px;
         width: 180px;
     }
     .infomodalquieroTarjeta .docs a {
         padding-bottom: 10px;
         display: block;
     }
     .infomodalquieroTarjeta .hijos {
         margin-top: 15px;
     }
     .contenidoApp .info-app h1 {
         font-size: 24px;
         padding-left: 20px;
         padding-right: 20px;
     }
     .contenidoApp .info-app .nueva {
         top: 230px;
         left: 170px;
         width: 25%;
     }
     #ModalEditarCuentas .boxRadio {
         width: 100%;
     }
     .navTitular ul img {
         margin-right: 0px;
         margin-left: 10px;
     }
 }
 /*RH esto es para que muestre sellecion de popover*/
 
 .custom-radio .custom-control-input.checked~.custom-control-label::after {
     background-image: url("data:image/svg+xml;charset=utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='#fff'/></svg>");
 }
 
 .custom-radio .custom-control-input.checked~.custom-control-label::before {
     background-color: #B40D15 !important;
 }
 /* Botón de expirar session*/
 
 .cancel {
     color: #fff;
     background-color: #6c757d !important;
     border: none !important;
 }
 
 .msgval {
     font-size: 12px !important;
     text-align: left !important;
 }
 
 .textjustify {
     text-align: justify !important;
 }
 
 .contenidoFormulario1 .campo_obligatorio {
     border-color: #B40D15;
 }
 
 .campo_obligatorios {
     border: 1px solid #B40D15 !important;
 }
 
 .requeridos {
     font-size: 19px !important;
     float: right !important;
     line-height: 20px !important;
 }
 
 .requeridospre {
     font-size: 19px !important;
     line-height: 20px !important;
 }
 
 .mayuscula {
     text-transform: uppercase;
 }
 
 .barraSlide h2 a {
     color: #5a5a5a;
 }
 
 .daterangepicker td.active,
 .daterangepicker td.active:hover {
     background-color: #B40D15 !important;
     ;
     border-color: transparent;
     color: #fff;
 }
 
 .form-control:disabled,
 .form-control[readonly] {
     background-color: #F3F3F3 !important;
 }
 
 .infomodalquieroTarjeta .terminos a.disabled {
     pointer-events: none;
 }
 
 .terminos .custom-control-input:disabled~.custom-control-label {
     color: #F3F3F3;
 }
 
 .tablamodal td {
     font-size: 14px !important;
     padding: 0.75rem !important;
     border-top: 1px solid #dee2e6 !important;
 }
 
 .btnapp {
     cursor: default !important;
 }
 
 .btnapp:hover {
     background-color: #B40D15 !important;
 }
 
 .baselegal a {
     color: #444444;
 }
 
 .baselegal a:hover {
     color: #B40D15 !important;
     cursor: default !important;
     text-decoration: none;
 }
 
 .Contenido table,
 .Contenido p,
 .Contenido li {
     font-size: 18px !important;
     font-weight: 300 !important;
     /* color: #252525 !important; */
 }
 
 .btn-primary:focus {
     box-shadow: 0 0 0 0.2rem #B40D15 !important;
 }
 
 .Garantia .descargaCertificado {
     /* float: none !important; */
     font-size: 10px !important;
     position: absolute !important;
     left: 64px !important;
     top: 50px !important;
     width: 280px !important;
 }
 
 .Garantia .nav-tabs>li a {
     top: 0px !important;
     /* height: 90px !important; */
 }
 
 .Garantia .navTitular li {
     margin-bottom: 20px !important;
 }
 
 .imagengarantia {
     font-size: 18px !important;
 }
 
 .imgdescargacertificado {
     max-height: 20px !important;
 }
 
 .ligarantia {
     position: relative !important;
     margin-bottom: 20px !important;
 }
 
 .iconogarantia {
     width: 60px !important;
 }
 
 .formValida input,
 .formValida select,
 .formValida textarea,
 .formValida .form-control:focus {
     box-shadow: none !important;
     text-decoration: none !important;
 }
 
 .form-control:focus {
     border-color: #495057 !important;
 }

 .bannerHome{
    max-width: 414px;
    max-height: 379px; 
 }
 /**
* Estilo para los botones de 'pagina anterior'
* y 'pagina siguiente' en estado de cuenta
* 
* @autor Dickson Morales
*/
 
 .paginacion_estado_cuenta li.active a {
     color: #B40D15 !important;
 }
 
 .paginacion_estado_cuenta li.disabled a {
     color: #a5a5a5 !important;
 }
 
 .estado_cuenta_descarga_impresion {
     padding-top: 17px;
     padding-bottom: 7px;
     border: 1px solid #e4e4e4;
     margin-top: 36px;
     padding-left: 18px;
     border-radius: .25rem;
 }
 
 .estado_cuenta_descarga_impresion img {
     margin-right: 8px;
 }
 
 .estado_cuenta_descarga_impresion img.descargar {
     width: 25px;
     margin-top: -5px;
 }
 
 .estado_cuenta_descarga_impresion img.imprimir {
     width: 35px;
     margin-top: -2px;
 }
 
 .estado_cuenta .progress.estado_cuenta_titulo {
     margin-bottom: 5px;
 }
 
 .estado_cuenta_descarga_impresion a {
     color: #333333;
 }
 
 .estado_cuenta_descarga_impresion a#botondescargar {
     margin-right: 50px;
 }
 /* Fin estado de cuenta */
 /* Capa para lightbox dde garantia */
 
 .capaOverFLow {
     max-height: 794px;
     overflow: auto;
 }
 /* Fin capa lightbox garantia */
 /*RH MOBILE*/
 
 @media (max-width: 767.98px) {
     .barraSlide .col-sm-6 {
         text-align: center;
     }
     .barraSlide .col-sm-6 .box {
         position: relative;
         left: 6%;
         margin: 0 auto !important;
     }
     .barraSlide .col-sm-6 .tarjetaabc {
         position: relative !important;
         left: 50px !important;
     }
     .boxSeguros .Asistencias img {
         margin-bottom: 0px !important;
     }
     .Asistencias ul li {
         min-width: 20% !important;
         margin-left: 20px;
         margin-bottom: 10px;
         padding-left: 0px;
         padding-bottom: 0px;
         padding-right: 0px;
         padding-top: 0px;
     }
     .Asistencias ul li a {
         line-height: 15px;
     }
     .Asistencias .justify-content-around {
         text-align: center !important;
     }
     .Asistencias ul {
         height: 420px;
     }
     .Contenido table {
         font-size: 13px !important;
     }
     .Garantia .ligarantia {
         padding: 0px !important;
         margin-left: 0px !important;
         margin-right: 0px !important;
         margin-bottom: 0px !important;
         width: 100% !important;
     }
     .Garantia .ligarantia img {
         margin-right: 20px !important;
     }
     .Garantia .descargaCertificado img {
         margin-right: 20px !important;
     }
     .Garantia .descargaCertificado {
         margin-left: 76px !important;
     }
     .Garantia .garantiaresponsive {
         margin-bottom: 30px !important;
     }
     .Garantia .descargaCertificado {
         width: 50% !important;
	 float: left;
     }
     .Crema .productosasistencia {
         margin-top: 0px !important;
     }
     .Crema .col-md-3 {
         padding-top: 10px !important;
     }
     .tablagarantia {
         overflow: scroll !important;
     }
     .tablagarantia tbody td {
         font-size: 10px !important;
     }
     .tablagarantia thead th {
         font-size: 10px !important;
     }
     .contenidoPagarCuenta .formulario {
        padding-left: 0px !important;
        padding-right: 0px !important;
        padding-top: 0px !important;
     }
     .contenidoPagarCuenta .contedorpagatc {
        padding-left: 0px !important;
        padding-right: 0px !important;
     }
 }
 /**
* Medias para resolver bugs de responsives
*
*   @author Dickson Morales
*/
 
 @media screen and ( max-width: 419px) {
     .navTitular ul li {
         min-width: 20% !important;
     }
     .boxSeguros .Asistencias li {
         width: 25% !important;
     }
     .preguntasFrec h1 {
         white-space: pre-wrap;
         min-width: 100%;
     }
     .tablagarantia tbody td {
         font-size: 8px !important;
     }
     .tablagarantia thead th {
         font-size: 8px !important;
     }
     .mobilecargo {
         font-size: 14px !important;
     }
     
 }
.mobilerequisitos {
        padding-left: 40px !important;
        padding-right: 40px !important;
     }
 .clsDatePicker {
    z-index: 100000;
}
/* RH para ocultar */
@media (max-width:767px) {
    .hidden-xs {
        display: none!important
    }
}

@media (min-width:768px) and (max-width:991px) {
    .hidden-sm {
        display: none!important
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .hidden-md {
        display: none!important
    }
}

@media (min-width:1200px) {
    .hidden-lg {
        display: none!important
    }
}
#botondescargarmov {
    font-size: 14px;
    color: #333333 !important;
    text-decoration: none;
    float: right;
}