* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

.divcontent{
	color: #606060;
}

.divcontent h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  line-height: 0.9;
  margin-top: 50px;
  float: center;
  text-align: center;
  font-size: 50px;
  font-weight: 900;
}

.divcontent h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 15px;
  font-weight: 700;
  margin: 0;
}

.divcontent p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 0px;
}

.divcontent a {
  font-family: 'Josefin Sans', sans-serif;
  display: inline-block;
  text-decoration: none;
  border: none;
  margin-left: 80px;
  font-weight: normal;
  border-radius: 1px;
  margin-top: 14px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.pparrafo{
	margin-left: 120px;
	margin-right: 15%;
}
.ullista{
	line-height: 12px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	margin-top: 2px;
}
.atarjeta{
	margin-left: 0px!important;
}
.ullista a{
	color: #b7072e;
}

.divcontent a:hover {
  opacity: 0.8;
}

.divcontent img {
	  margin-top: 30px; 
  }

.divcontent .h2perdido {
	font-size: 30px;
	font-weight: 300;
	margin-top: 40px;
}


@media only screen and (max-width: 767px) {
  .divcontent {
    height: 30px;
    line-height: 30px;
  }
  .divcontent h2 {
    font-size: 12px;
	margin-top: 20px!important;
  }
  .divcontent h1 {
	margin-top: 16px;
    font-size: 26px;
  }
  .divcontent img {
	width: 60%;
	margin-top: 10px;
  }
  .divcontent .h2perdido {
	font-size: 14px;
	margin-top: 25px;
	line-height: 20px;
  }
  .divcontent .pparrafo {
	font-size: 14px;
	margin-left: 20px;
  }
  .ullista{
	font-size: 14px;
	margin-left: 0px;
  }
	.divcontent a {
	margin-left: 0px;
  }
}

/*  No mostrar header - lateral y footer  */
/* .main-header {
    display: none;
}
.main-footer {
	display: none;
}
aside { display: none; } */